[2012-10-27 17:18] mehdifanai opened #1 "android-saripaar localisation support"
First i want to thank you for your huge effort on making form validation possible and easy to go.
Is there any plans on enabling localization support in android-saripaar so validation messages could be displayed in desired language(s)?
the following code wont work:
@Email(order = 3, message =getString( R.string.invalid_email_address));
Can I help by writing some code?If yes,how?

[2012-10-28 00:17] #1 closed, assigned to nobody

[2012-11-17 14:35] pepyakin opened #2 "Rules by annotation not added in derived class."
I've faced with problem using an android-saripaar.

After `validate()` called, my fields are not resolved (i checked it by viewing contents of `Validator` object).
I think its happening because i'm using [AndroidAnnotation](https://github.com/excilys/androidannotations) framework, that makes my Activity class base class of actual Activity used.

For example:

[code]

AndroidAnnotations creates som

[2012-11-18 02:29] #2 closed, assigned to ragunathjawahar

[2012-11-18 10:49] pepyakin opened #3 "Why Validator.validate returns void?"
I think it would be better if `validate` will return boolean value. `true` means that validation have been succeeded and `false` means that validation have failed.

Also, it will be nice if default implementation of `ValidationListener` will be provided, some like this:

[code]

[2012-11-18 11:11] #3 closed, assigned to nobody

[2012-12-15 20:17] mehdifanai opened #4 "Validating preferences items"
hi
Is there any chance that i can validate my apps preferences fields using saripaar? For example i need to not allow the user to enter no less than 100 on a EditTextPreference number field.
Any suggestions are welcome

[2012-12-24 06:44] freefalling opened #5 "Error icon not getting cleared after user input"
Say you have five EditText fields, all set as required. Then, on the first attempt to submit, none of them validates. The user fix the first field then focus on the next one.

You can still see the error icon applied to the (now) valid one.

[2012-12-25 02:22] #5 closed, assigned to nobody

[2013-01-22 10:51] flo-wandi opened #6 "[enhancement] possibility to use resources in text annotations"
Could you add the ability to use resources in text annotations?

[2013-01-28 14:46] #6 closed, assigned to nobody

[2013-04-11 11:40] perumal opened #8 "enabling or disabling validation for a particular EditTextView dynamically though program"
Hi Raghu,

I have a requirement where i hide few fields based on some criteria &
I don't want validation to happen on those EditTextViews where it's visibility is hidden through setVisibility(View.GONE);

is it possible through android-saripaar.

Mikka Nandri.

[2013-05-03 07:29] mengkuan opened #9 "Optional validations"
Currently I have add the following to my activity class to make a regex validation optional:

[code]

and then add this before `validator.validate()` call:

[code]

Is there a simpler way? If not, can you consider adding an `optional` argument to the existing annotations? Alternatively, I understand `@Email` and `@IpAddress` is already optional, i.e. they ignore empty `EditText` widgets by default

[2013-05-03 08:09] #8 closed, assigned to ragunathjawahar

[2013-05-06 04:04] mengkuan opened #10 "Validate and show errors for all failures"
Currently the `Validator.validate()` method will stop validating when it finds the first field that failed validation.

However, I would like to get back a list of all fields that failed validation and then perform setError on all of them. Is there a way to do this with saripaar?

[2013-06-09 10:14] yareally opened #12 "Suggestion: Wrap Apache Commons Validator instead of rolling your own"
Things like email regex can be hard to get 100% for certain edge cases and something like Apache Commons Validator[1] provides the core validation that you could wrap and extend for Android. Just a suggestion for future versions. I like your ideas so far though. I think it's also possible you could mod the Android XML and add a validation field directly as an alternative to users doing it all prog

[2013-06-23 12:25] KubebatHaMachatz opened #13 "Validation groups"
Hi,

android-saripaar is great, already implemented in one of my projects and now in another.

this project is a one screen app with two panels - one for login and one for registration. there are two layouts  - one containing the login fields (email, password) and the other one containing the registration fields) . only one layout is visible at a time and the user clicks a button to switch between

[2013-07-08 15:55] aashaysaralkar opened #15 "NumberFormatException while using NumberRule: Integer option"
Hi,
I recently came across a small issue while using this helpful framework.
The NumberRule raises a NumberFormatException when used with the 'gt' attribute for Integer validation.
Consider the following example:
<code>@NumberRule(order = 1, type=INTEGER,gt=0)
EditText etOrderQuantity</code>

This raises an java.lang.NumberFormatException: For input string: "0.0"

I think this is because 'gt' attr

[2013-07-08 16:05] aashaysaralkar opened #16 "NumberRule with gt attribute for Double type does not compare actual value > expected"
Hi,
The NumberRule with gt attribute for Double type performs comparision via the gt(..) function at line 434 in Rules.java. The code presently checks expected > actual

<code>if (actualDouble != null) {
                    valid = actualDouble.matches(REGEX_DECIMAL) ?
                            expectedDouble > Double.parseDouble(actualDouble) : false;
                }
</code>

If I want a view

[2013-07-12 10:29] Axxiss opened #17 "Add it to maven central"
Adding the lib to maven central, would be great!

[2013-08-20 04:48] #13 closed, assigned to nobody

[2013-08-30 12:15] #16 closed, assigned to ragunathjawahar

[2013-09-14 04:22] #15 closed, assigned to ragunathjawahar

[2013-10-27 10:59] #17 closed, assigned to ragunathjawahar

[2013-11-15 11:13] sytolk opened #19 "Email validation failed with domains like: yahoo-test.com"
If I validate emails like: test-100@yahoo-test.com error message apper. But the domains with "-" is ok.

Can you change reg expression like this:
http://www.mkyong.com/regular-expressions/how-to-validate-email-address-with-regular-expression/

[2013-11-18 14:55] mattate opened #20 "Ability to add string resource id's as messages"
Hi,

I think it would be great if it was possible to add string resource id's as messages in the annotations.  Currently it is possible if you pass the ID as a string and then concat it back to an INT when you want to get the message, but it might be nice if you could just do something like:

@Email(order = 3, messageId = R.string.email_error)

[2013-11-18 14:58] #20 closed, assigned to nobody

[2013-12-20 14:32] sytolk opened #22 "Remove error"
If validation is complete and onValidationFailed function is executed:
            ((EditText) failedView).setError(message); -EditText field is in red Error.

Next user change this field and click on Submit button. Field map is re-validated and value of this field is valid (error appear on next field) but the old error in EditText exist too.
2 error fields is in red (first is valid but the error

[2013-12-22 11:16] #22 closed, assigned to ragunathjawahar

[2014-01-22 23:29] codertimu opened #24 "Suggestion: Multiple validation sources"
Hi Ragunath,

Thanks for this great library.

Let me try to tell the situation with an example.
We have a form and we have two buttons: Calculate and Save. Both must check for validation before doing any operation but they will act differently when the validation succeeds. "Calculate" makes a calculation and prints the result to a Textview while "Save" creates an object from form data and saves it

[2014-02-10 16:15] hak-ziadov opened #25 "Using native fragments"
Please could you tell me how could i use this library with native fragments
not fragments from support library (not support.v4)
Thanks in advance

[2014-02-11 05:29] #25 closed, assigned to nobody

[2014-02-11 06:13] #24 closed, assigned to ragunathjawahar

[2014-03-20 17:51] almozavr opened #27 "No way to set order for custom rules"
Rules ordering is done on validation and custom rules adding occurs before. If so, custom rules always have more priority and that's not true.
Maybe, it's better to store `order` inside the `Rule`? So developer could add custom rules at runtime with proper priority.

[2014-04-07 11:49] naixx opened #29 "Email validation"
First of all, this is a great library!

But I have a problem validating email with `+` sign. I see, that a fix is already in repo, but not in the latest release.

Do you plan any minor release to maven?

[2014-04-24 04:16] #29 closed, assigned to nobody

[2014-04-30 13:11] yuvipanda opened #30 "user+name@gmail.com is not considered a valid email address"
While it actually is.

Encountered when using it for the official Wikipedia app. Downstream bug at https://bugzilla.wikimedia.org/show_bug.cgi?id=64615

Thanks for the cool library!

[2014-05-02 02:53] #30 closed, assigned to nobody

[2014-05-05 02:09] broakenmedia opened #31 "Validate from code/validate 'FloatLabelPattern' edittexts"
It would be FANTASTIC too see this somehow, the 'AndroidFloatLabel' pattern edittexts return an instance of viewgroup, and as such cannot have a saripaar annotation. in code the edittext for the float label group is accessed via

label.getEditText().xyz

Perhaps being able to add validation rules via code would suffice?

.setValidationRule(required) or similar

[2014-05-18 16:53] akhy opened #32 "Use string format in messageResId"
I am not sure if "string format" is the right name for it. Basically what I need is an ability to do this.

in the rule:

[code]

in the `strings.xml`:

[code]

What I expect is validation error message should gives me message `5 characters minimum` but the actual result is `%d characters minimum` (the %d is not parsed).

Is there any way to achieve this? Hopefully this feature will be added in th

[2014-06-19 03:29] #32 closed, assigned to nobody

[2014-06-20 06:12] jasperblues opened #33 "Style the poptip"
Thanks for a great library.

Can the pop-tip presented at validation be styled?

[2014-06-26 08:44] wang9090980 opened #34 "how to validate phone no"
Hi：
   how to validate tel no

[2014-06-30 12:24] rinav opened #35 "How to unhide errorPopups (Edittext)"
Hi,

How can I unhide the Validation failure pop ups shown during  failure after validation succeeds ?

[code]

[2014-07-02 09:12] #33 closed, assigned to nobody

[2014-07-02 09:21] #34 closed, assigned to nobody

[2014-07-02 09:22] #35 closed, assigned to nobody

[2014-07-07 21:46] bertvh opened #36 "Custom Annotations"
I defined a new rule (Spinner Choice Required), which was super easy. Now, I would like to be able to use it through an annotation. Right now I'm adding it programmatically, which I don't like.

Looking at the code, the builtin annotations seems to be hard coded. Am I missing something here?

[2014-07-29 08:10] pawelkobojek opened #37 "One-by-one validation"
Hello,

I wonder if there's possibility to validate only one of the annonated Views at a time (ideally on focus lost)?
More precisely: I have 3 EditText views (lets say: etA, etB, etC) in my form. What I want to achieve is when the User fills field etA and then switches focus to etB, the validator only validates etA and then, after user fills etB and switches focus to etC it validates etB.

[2014-08-04 07:02] kjsolo opened #38 "Can public validateAllRules method?"
I don't want to use callback ValidationListener.

[2014-08-19 07:15] Staray opened #40 "How to change the validator background?"
How to change the validator background?
I want use my image to replace the default background, how can i do this?

[2014-08-19 15:39] ghost opened #41 "Domain names can have a hyphens"
REGEX_EMAIL in the rules class needs to allow hyphens in the domain name part. president@white-house.com is a valid email address.

[2014-09-05 01:48] #40 closed, assigned to nobody

[2014-09-23 23:42] justincpollard opened #43 "Validating all fields on call to Validator.validate()"
First of all, nice library! Quite powerful as it is. The main drawback that I'm experiencing is that I need to validate all fields on 1 go, rather than stopping at an error. As a result, I'd love to have onValidationFailed() pass a `List<Rule<?>> failedRules`.

Thanks, again!

[2014-09-24 19:36] ghost opened #44 "Getting message from strings.xml instead of giving string value in annotation rule"
Ability to inject error message by specifying string value from string resource from strings.xml
like @Required(order = 1, message = R.string.my_message)

[2014-09-24 20:13] #44 closed, assigned to nobody

[2014-11-28 10:11] #41 closed, assigned to nobody

[2014-11-28 10:23] #38 closed, assigned to nobody

[2014-11-29 13:41] #43 closed, assigned to ragunathjawahar

[2014-11-29 13:49] AresM opened #45 "Proguard issue"
Hi i have problem with my release version where I use proguard. In debug everything works fine.
When I try to Call:
 validator.validate();
they throw:
       java.lang.NoSuchFieldError
        at libcore.reflect.AnnotationAccess.decodeValue(AnnotationAccess.java:688)
        at libcore.reflect.AnnotationAccess.toAnnotationInstance(AnnotationAccess.java:663)
        at libcore.reflect.AnnotationAcc

[2014-12-04 16:31] jhonvidal opened #46 "How to define order from code?"
---

In annotation:
Required (Order = 1)
email (Order = 2)
private EditText emailEditText;

order is defined

---

if I have:
validator.put (EditText, Rules.required ("message", true));

no defined order
How to define order from code?

[2014-12-04 17:21] #46 closed, assigned to nobody

[2014-12-05 06:58] siddhpatil6 opened #47 "For canceling validations"
if we one edittext validations are satisfied than skip other editexts validations,is it possible?

@Required(order = 1, message = "Please enter name")
private EditText et_name;
@Required(order = 1, message = "Please enter sirname")
private EditText et_sirname;

for example i need validation that either one of them feilds sholuld be validate
after that skip other feild for validations

[2014-12-08 06:07] #37 closed, assigned to nobody

[2014-12-08 06:08] #36 closed, assigned to nobody

[2014-12-08 06:10] #31 closed, assigned to ragunathjawahar

[2014-12-08 06:12] #10 closed, assigned to ragunathjawahar

[2014-12-08 06:13] #12 closed, assigned to ragunathjawahar

[2014-12-08 06:14] #19 closed, assigned to ragunathjawahar

[2014-12-08 14:57] #27 closed, assigned to ragunathjawahar

[2014-12-12 02:37] chkm8 opened #49 "Is Annotations included in jar file?"
Hi Sir,
I came across with your library and I want to try it out. In your instruction Quick Start-step 1, there is an annotation, @NotEmpty , and when I open the link of your annotations, I can see several classes.

I tried above instruction but I can't find the class @NotEmpty, so I tried copying the code in your NotEmpty.class and create a copy in my project, but @ValidateUsing(NotEmptyRule.clas

[2014-12-12 19:14] ClarkXP opened #50 "version 2.0 how to get the error message from onValidationFailed listener?"
I'm trying to get the error message for setError Edittext method.

PD: Sorry my english is bad

[2014-12-13 02:38] #50 closed, assigned to nobody

[2014-12-13 14:10] ghost opened #51 "where is v 2?"
Cannot find v2 in maven

[2014-12-14 00:05] #51 closed, assigned to nobody

[2014-12-15 16:05] PenzK opened #52 "Password validation failure"
I have such an EditText:
    @Password
    @Size(min = 6, message = "Enter at least 8 characters.")
    EditText editTxtPassword;

this rule works, except the case if my pass long enough. When my edittext has string with 6 chars It returns emty error

[2014-12-16 09:56] #45 closed, assigned to nobody

[2014-12-18 04:15] Aexyn opened #53 "call method instead of "message" in annotation[feature request]"
hey,
what I am proposing is , is there any way to call a local method from annotation. like

    @MinLength(value = 3, myMethodFailed(),myMethodPassed());
    private EditText mEditName;

I am saying this because in my app I am not showing inbuilt error message. and also on error, I turn the field red and on passed, I turn field back to normal. So I am asking if there is any way to implement any c

[2014-12-20 20:18] samar-moursi opened #54 "White spaces in @NotEmpty annotation"
Hi,

There is a simple issue that when I enter white spaces in a field that has the annotation @NotEmpty, validation rule just passes normally and no error is displayed, while the rule should fire validation error saying "This field is required".

Please advise.

[2014-12-20 22:48] #54 closed, assigned to nobody

[2014-12-22 01:36] #52 closed, assigned to ragunathjawahar

[2014-12-22 01:37] ragunathjawahar opened #55 "@ConfirmPassword doesn't work"
This feature is not implemented yet.

[2014-12-23 09:55] Aexyn opened #56 "Sample app or project"
t would be nice if you provide some sample examples or activity. I found it difficult to implement. thanks

[2014-12-24 23:03] tomber71 opened #57 "Multiple rules for one view"
Your library is great and I am just playing around with V2.

Can I somehow stop the validation process for a view with multiple rules after the first error has occured?

I have a use case with two rules for one edit text field. The first rule checks if the user name is at least 5 characters long. The second then calls a backend service to check if this user name is still avaliable. So I only want

[2014-12-28 11:53] devloe opened #58 ""No rules found" error"
I get the following error:

`No rules found. You must have at least one rule to validate. If you are using custom annotations, make sure that you have registered them using the 'Validator.register()' method.`

This is my code:

[code]

And then `onCreateView`:

[code]

I'm using 2.0 snapshot
`compile 'com.mobsandgeeks:android-saripaar:2.0-SNAPSHOT'`

Any thoughts?

[2014-12-28 12:14] #58 closed, assigned to nobody

[2015-01-03 20:33] tomber71 commented on #57
Thanks for your reply. Mode.IMMEDIATE does not actually solve my problem. This mode processes all rules of an failing view and does not stop after the first failed verification.

[2015-01-04 14:52] ragunathjawahar commented on #57
@tomber71 Just as I anticipated, this was a nightmare waiting to happen :smiling_imp:

`Mode.IMMEDIATE` does what you want, but you aren't getting the expected result because the annotations themselves don't have a definite order.

In Saripaar, the rules were ordered using the `order` attribute in the rule annotation itself, so if the first rule fails it would stop. However, in Saripaar v2, I deci

[2015-01-05 02:37] ragunathjawahar opened #59 "QuickRules for Views without the @Order / a single rule annotation does not get picked up."
If there is a `View` that is not annotated with one of the Saripaar / custom annotations, the `QuickRule` for that view does not get picked up.

[2015-01-06 21:12] tomber71 commented on #57
It  has never been my intention to cause  any nightmares :wink:. I was only wondering if there is a way of covering my use case with Saripaar v2. But actually I can solve it quite easily by creating separate background tasks for long running verification (e.g. some backend checks) and start them after a successful (now strictly synchronous) Saripaar verification.

IMHO you should definitely avoid

[2015-01-07 02:37] ragunathjawahar commented on #57
@tomber71 This is was something that I anticipated earlier and wanted to check if developers still needed this feature. Definitely not your fault and you have a valid use case :wink:

Also, you are right about multiple level ordering, that's kind of redundant and makes the API clunky. The move to `@Order` annotation doesn't seem to serve it's purpose. I was keen to get feedback about the current A

[2015-01-16 00:24] skoushan commented on #55
@ragunathjawahar if the feature is not yet implemented, please do not include it in the readme quickstart, or at least put a note.

[2015-01-16 04:07] ragunathjawahar commented on #55
@skoushan Sorry for the trouble. Hope this helps https://github.com/ragunathjawahar/android-saripaar/commit/eccd57f942e82bd70b8b9954b740c1128b27ef4c

[2015-01-16 08:14] ragunathjawahar commented on #57
@tomber71 Quick thought, what if I write a companion plugin for Android Studio. Would that make life easier with multiple ordering? (I'll come up with a few reasons in another comment)

[2015-01-16 15:14] skoushan commented on #55
@ragunathjawahar thanks, appreciate it. Looking forward to it being complete!

[2015-01-17 20:09] tomber71 commented on #57
Not sure, but I think I need to read and understand your mentioned reasons first. I still see an issue that the @Order

[2015-01-18 01:48] ragunathjawahar commented on #55
@skoushan implemented, see 40e7172dfe581854cc7671b782f006479860a709 and snapshot is available!

[2015-01-18 01:48] #55 closed

[2015-01-18 01:58] #49 closed

[2015-01-23 22:48] gmarques33 commented on #27
Hi,

it`s possible to define the validation order with v2? If yes, how?

[2015-01-23 23:54] ragunathjawahar commented on #27
@gmarques33, Just add the `@Order` annotation on all your views and add a quick rule to a `view` using `validator.put(View, QuickRule...)`

[2015-01-25 08:48] #59 closed

[2015-01-26 08:40] ragunathjawahar commented on #57
@tomber71 here are my reasons.

**1. Google's way of doing things**
I consider them as best practices. Google applications validate all the fields at the same time and display errors in one go. I've seen this on credit card forms in Google Play Applications and a few apps that ask for email and password.

That is why Saripaar v2 has `Mode.BURST` as default. This mode validates all fields at the sa

[2015-01-27 11:08] Aexyn opened #61 "Multiple check on Single View with "OR" property"
I have a form where User Either has to enter username or mobile number in edit text. Is there any current feature that can help me ?

[2015-01-27 13:22] ragunathjawahar commented on #61
Not yet, feature is on the list :)

[2015-01-27 17:28] ragunathjawahar opened #62 "Add Kotlin support"
When used with Kotlin, the library doesn't seem to pick up annotations. Investigate and add support.

[2015-01-28 04:41] Aexyn commented on #61
:)

[2015-01-29 14:41] jhonvidal commented on #27
before : validator.put(editText, Rules.required(Messages.ES_REQUERID_FIELD, true));
after : validator.put(View, QuickRule...)   ??? :|

[2015-01-29 14:48] jhonvidal commented on #27
public class V_RadioGroupButton extends Rule<RadioGroup> {

    /**
     * Creates a new validation Rule.
     *
     * @param failureMessage The failure message associated with the Rule.
     */
    public V_RadioGroupButton(String failureMessage) {
        super(failureMessage);
    }

    @Override
    public boolean isValid(RadioGroup view) {
        view.setBackgroundColor(Color.WHITE);

[2015-01-29 15:16] ragunathjawahar commented on #27
@jhonvidal You need to use v2 of the library to use ordering with `QuickRule`s.

[2015-01-29 15:18] jhonvidal commented on #27
Thanks for responding, I'm using the v2, the problem is how to interpret the rules

[2015-01-29 15:31] ragunathjawahar commented on #27
[code]

Please check this [comment](https://github.com/ragunathjawahar/android-saripaar/issues/57#issuecomment-71428493) for a complete idea. Ordering and sequenceing is different in v2 from v1's `order` attribute.

[2015-01-29 15:34] jhonvidal commented on #27
Great help, thank you very much !!!  @ragunathjawahar

[2015-01-29 15:38] ragunathjawahar commented on #27
@jhonvidal You're welcome :)

[2015-01-29 15:43] jhonvidal commented on #27
a detail :
these lines :

@NotEmpty(sequence = 1)
@Email(sequence = 2)
@Order(1)
private EditText mEmailEditText;

--------------------------------------
How is interpreted programming in code? please an example of native rules
---------------------------------------
:) Thank

[2015-01-29 22:59] jhonvidal opened #63 "method is not ! validator.removeRulesFor(editText1);"
How do I remove the rules in V2?

[2015-01-30 04:58] ragunathjawahar commented on #63
@jhonvidal v2 doesn't have a method for removing rules. I'm curious, can you explain your use case please?

[2015-01-30 12:53] ragunathjawahar commented on #47
@siddhpatil6 please track this issue on ticket https://github.com/ragunathjawahar/android-saripaar/issues/61

[2015-01-30 12:53] #47 closed

[2015-01-30 14:03] jhonvidal commented on #63
is this the case study:

[code]
is important to eliminate rules according to criteria,

please help !!

[2015-01-30 14:17] jhonvidal commented on #27
I did this for required field :

[code]

:+1:

[2015-01-30 19:13] jhonvidal opened #64 "How to detect the sequence of the error list?"
[code]

always printed message errors of edittex ;  message "Campo requerido 1"

ie,
How do I detect the error of the first view affected?

[2015-01-30 19:57] jhonvidal commented on #64
Solved.   :+1:

    @NotEmpty(sequence = 2, message = "Campo requerido 1")
    @Order(2)
    EditText editText;

    @NotEmpty(sequence = 1, message = "Campo requerido 2")
    @Order(1)
    EditText editText2;

[2015-01-30 19:57] #64 closed

[2015-01-31 10:56] ragunathjawahar commented on #64
If you are using only one rule annotation, then the `sequence` attribute is not required.

[2015-02-03 19:58] jhonvidal commented on #63
@ragunathjawahar  I will thank the expectation...

[2015-02-03 19:59] jhonvidal commented on #63
thanks, I'll wait anxiously...

[2015-02-04 14:14] juliomarcos opened #66 "How can I enable rules in Java?"
I'm trying to follow this link (http://stackoverflow.com/questions/6613321/form-validation-library-for-android) without success.

I have a situation where I create views dynamically inflating them from a xml file. Is it possible to do that using annotation? If not, how can I do that in Java?

[2015-02-05 13:43] ragunathjawahar commented on #66
I would suggest you to use `v1` for this particular scenario, because `v2` allows only annotations. However, I am keeping this issue open until built-in `QuickRule`s can be added using Java.

[2015-02-06 14:31] mehrad-rafigh commented on #55
@ragunathjawahar Where can I get the latest snapshot of this awesome library?

[2015-02-06 14:34] ragunathjawahar commented on #55
@mehrad-rafigh The snapshots are available from maven central's snapshot repo. Checkout the [Readme](https://github.com/ragunathjawahar/android-saripaar/blob/master/README.md) for instructions.

[2015-02-06 14:46] ragunathjawahar commented on #57
@tomber71 I'm closing this for the moment. Do let me know if you have a different opinion before we freeze the APIs.

[2015-02-06 14:46] #57 closed

[2015-02-06 15:30] mehrad-rafigh commented on #55
I am familiar with your Readme file and I used that to setup my gradle file. Nevertheless the Annotation @ConfirmPassword is not working

[2015-02-06 15:49] ragunathjawahar commented on #55
@mehrad-rafigh Ok great!

[2015-02-17 15:47] Lesilva opened #67 "@Select error message not shown"
I tried to use @Select with my spinners, it can catch the error, but I can't get it to show the error. I tried to debug, I can not find getCollatedErrorMessage in the error obj. Here's my onValidationFailed code:
[code]

[2015-02-17 21:50] #67 closed

[2015-02-21 20:05] tomber71 commented on #57
I am very sorry for my late reply. I have been very busy lately and I
simply didn't find the time.

I like your approach very much. I do agree that it is best to validate
all fields at once and show all the possible errors to the user. And
with the additional sequence attribute and the order annotation you
still can add all the flexiblity.

IMHO it is a very clean and consistent API!

Thanks a lot

[2015-02-23 04:58] ragunathjawahar commented on #57
@tomber71 No worries and thank you for your feedback on this.

[2015-02-26 01:23] ragunathjawahar commented on #63
Implemented in https://github.com/ragunathjawahar/android-saripaar/pull/65. Will close this issue after I add test cases.

[2015-03-01 09:36] lucastan opened #68 "when is v2 ready?"
Hi I have been waiting for many weeks for the stable version of v2 to arrive as I need to freeze the version  of my dependencies

[2015-03-01 15:20] ragunathjawahar commented on #63
@jhonvidal for changes, please check this [Validator](https://github.com/ragunathjawahar/android-saripaar/blob/354028d80c4a6cb8aef98282c479cafe937897d9/saripaar/src/main/java/com/mobsandgeeks/saripaar/Validator.java#L424-L426).

For the changeset, refer to https://github.com/ragunathjawahar/android-saripaar/commit/354028d80c4a6cb8aef98282c479cafe937897d9.

[2015-03-01 15:20] #63 closed

[2015-03-02 05:32] ragunathjawahar commented on #68
Hi @lucastan I really don't have a timeline on this. I put in as much time as I can, in open-source projects. We are using Saripaar v2 SNAPSHOT in ALL our production applications. There are a few minor features to be added. Besides that, there's isn't going to be changes in the existing API.

[2015-03-02 05:44] lucastan commented on #68
If it is stable now, why not just freeze the version? When you add features
in the future, you can increase the version

On Monday, March 2, 2015, Ragunath Jawahar <notifications@github.com> wrote:

[2015-03-04 14:29] Lesilva opened #69 "How to add custom scheme to password validation?"
Hi, I wanted to add my custom scheme to password to do the validation. Can you show me how? @ragunathjawahar

Thanks!

[2015-03-05 01:23] ragunathjawahar commented on #69
@Lesilva, currently there isn't a way to add a scheme to the `@Password` annotation. However, can you tell me what you are trying to do? I'll be able to help you better.

[2015-03-05 03:41] Lesilva commented on #69
Thanks for your reply. I'm using a regex to validation my password. I'll let you know how it goes and if I need any help. Thanks again.

[2015-03-05 03:41] #69 closed

[2015-03-05 05:21] ragunathjawahar commented on #69
That's great :+1:

[2015-03-11 13:53] alexfu opened #71 "Remove final modifier from Validator"
Unless there is a specific reason the `Validator` class needs to be final, I'm proposing to drop the `final` modifier.

Having it as `final` makes testing harder and makes it impossible to mock without another library (i.e. PowerMock)

[2015-03-11 14:13] ragunathjawahar commented on #71
@alexfu Please check commit https://github.com/ragunathjawahar/android-saripaar/commit/78fa084b343c6dbb0713e5fee8a2a312770c1fd3. New snapshot available.

[2015-03-11 14:13] #71 closed

[2015-03-11 14:21] alexfu commented on #71
@ragunathjawahar awesome, thanks!

[2015-03-11 14:23] ragunathjawahar commented on #71
@alexfu You're welcome :+1:

[2015-03-11 14:25] ragunathjawahar opened #72 "Travis build is failing."
Espresso tests are failing on Travis, don't have issues on the emulator or real devices. Check for the pattern in failing tests and fix them.

[2015-03-12 14:00] Lesilva commented on #57
I'm also trying to validate multiple rules for one view. I tried to use sequences to do that but I'm still getting back all errors for all rules. I was wondering if I did something wrong.

[code]

[2015-03-12 14:29] ragunathjawahar commented on #57
@Lesilva Did you try switching to `Mode.IMMEDIATE` in your `Validator`?

[2015-03-12 14:32] Lesilva commented on #57
@ragunathjawahar I did not. I don't need validation orders for views, just for local rules in each view. Do I need  Mode.IMMEDIATE to make sequences work as well?

[2015-03-12 14:46] ragunathjawahar commented on #57
If you need to validate rules one by one, you need the `@Order` annotation as well as the `sequence` attributes for all your rule annotations and `QuickRule`s.

[2015-03-12 14:56] Lesilva commented on #57
@ragunathjawahar Thanks for your reply. Here's what I have:
[code]

and <addr>validator.setValidationMode(Validator.Mode.IMMEDIATE);</addr>

When I'm trying to validate all empty fields, what I'm getting now is, the first two fields shows ALL error messages, the last one did not show anything.

According to my understanding, now it suppose to only show sequence 1 rule's error for the first field?

[2015-03-12 15:00] ragunathjawahar commented on #57
:confused: could be a possible bug. I should investigate. Thanks for posting this.

[2015-03-12 15:01] Lesilva commented on #57
@ragunathjawahar Thanks! Let me know how it goes.

[2015-03-12 15:01] ragunathjawahar commented on #57
@Lesilva Will do :) I'll keep you posted on this.

[2015-03-12 15:04] ragunathjawahar opened #73 "Mode.IMMEDIATE doesn't work as expected."
[code]

and `validator.setValidationMode(Validator.Mode.IMMEDIATE)`

When I'm trying to validate all empty fields, what I'm getting now is, the first two fields shows ALL error messages, the last one did not show anything.

According to my understanding, now it suppose to only show sequence 1 rule's error for the first field?

Reported by [@Lesilva](https://github.com/Lesilva)

[2015-03-12 15:04] ragunathjawahar commented on #57
@Lesilva please keep track of #73

[2015-03-12 15:06] Lesilva commented on #57
@ragunathjawahar Will do, thanks.

[2015-03-16 03:27] ragunathjawahar commented on #62
Works with Kotlin `0.10.770` without any problems.

[2015-03-16 03:27] #62 closed

[2015-03-16 03:40] ragunathjawahar commented on #62
Refer commit 69dba1d510b75233e5487b7bbc2be4bd4cd65f74

[2015-03-16 16:15] ragunathjawahar commented on #57
@Lesilva, I did take a look at your issue again. The `sequence` attribute is local to a given field. You can't validate all rules by `sequence`.

[2015-03-16 16:17] #73 closed

[2015-03-16 16:29] Lesilva commented on #57
@ragunathjawahar , I'm kinda confused now, I'm trying to validate rules in order for each view, so when ever a rule failed, it will only show error message for that rule and stop validating other rules. So it will only show one error message for each view. How do i do that? Thanks.

[2015-03-16 16:33] ragunathjawahar commented on #57
@Lesilva so consider this example,

[code]

In the above example, if the `@NotEmpty` rule fails, then you want to show the respective error message. And again if the `@Size` rule fails (`@NotEmpty` passes), display the error message for `@Size` should be shown and so on. Is that what you are trying to do?

[2015-03-16 16:37] Lesilva commented on #57
@ragunathjawahar What I'm trying to do is, when `@NotEmpty` rule fails, display the error message, and stop validate this field(view) and go to next field(view).

[2015-03-16 16:43] ragunathjawahar commented on #57
@Lesilva this can be done using `Mode.BURST` itself. The failure callback returns you the list of `ValidationError` objects. Instead of calling the `validationError.getErrorMessage(Context)` message, call the `validationError.getFailedRules()`. From the list of failed `Rule`s, get the message for the first failed rule by calling the `rule.getMessage(Context)` and display that message only.

[2015-03-16 16:52] Lesilva commented on #57
@ragunathjawahar Thanks for the tip. I'll try it that way.

[2015-03-16 16:55] ragunathjawahar commented on #57
@Lesilva ok great.

[2015-03-17 14:42] geovanisouza92 commented on #9
Any progress on this?

[2015-03-17 16:33] ragunathjawahar commented on #9
Not yet, we just moved to v2. Will close this issue when done.

[2015-03-19 16:44] dotDeeka opened #74 "Should @Max(value = 50) allow null values"
Maybe I'm missing something here...

I have an annotation on an EditText field @Max(value = 50), This fails validation if the EditText is left empty. I feel like this should validate that the field is 50 or less or empty. If I want to also validate that it is not empty I would add the @NotEmpty annotation.

Does that make sense? Or am I completely off base?

[2015-03-19 16:46] dotDeeka commented on #74
The title was supposed to say "Should" not "Shoule" :)

[2015-03-19 16:51] ragunathjawahar commented on #74
@dotDeeka `@Max` checks if the field contains an numeric value and if it is less than or equal to the specified value. So, if the field does not contain an numeric value, it is bound to fail. You should use it along with the `@NotEmpty` annotation. Let me know if that helps.

[2015-03-19 16:54] dotDeeka commented on #74
So the issue I have is I basically only want the field to be validated if it has a value in it. The field is not required. But if it has a value, that value needs to be 50 or less.

[2015-03-19 16:56] ragunathjawahar commented on #74
@dotDeeka, thank you for clarifying. At the moment, you could use a `QuickRule` to get the job done. There's a pull request regarding the same. I'll close this issue when I fix this problem.

[2015-03-19 16:58] dotDeeka commented on #74
Awesome @ragunathjawahar , thanks.

[2015-03-19 16:58] ragunathjawahar commented on #74
@dotDeeka You're welcome :)

[2015-03-21 18:38] koolll opened #75 "More than 1 field annotated with 'com.mobsandgeeks.saripaar.annotation.Password"
Hi i got two confirm password inside my apps.Here is my question How can i validate two password with two confirm password?

[2015-03-22 13:29] ragunathjawahar commented on #75
@koolll, you need to use a `QuickRule` to accomplish your use case. Extend the `QuickRule` class and pass in the `@Password` `EditText` instance and then check it against your confirm password field.

[2015-03-22 19:07] ragunathjawahar opened #76 "Kotlin Android extensions - synthetic properties for views (this time, it's REAL!)"
Figure a way to use Saripaar with Kotlin Android Extensions plugin.
http://kotlinlang.org/docs/tutorials/android-plugin.html

[2015-03-26 16:37] Toqu3 opened #77 "Annotation @NoEmpty No suggestions"
Hello and thanks for the library
My question is
Because the "@oEmpty" appears to not exist, however if others, @checked, @email appear, etc.

Hola y gracias por la library
Mi pregunta es
Por que el "@NoEmpty"  parece no existir, en cambio los otros si, como el @checked, @email, etc.

.thanks

[2015-03-28 18:44] ararog opened #78 "RadioGroup validator"
It would be nice to allow RadioGroup validation with saripaar.

[2015-03-29 15:45] ragunathjawahar commented on #78
@ararog Nice suggestion, will do.

[2015-03-29 15:46] ragunathjawahar commented on #77
Hi, can you please give me an use case? Thanks.

[2015-04-07 17:26] pablobaldez opened #79 "Validate a single view"
Hi

there are a way to validate a single view in my form?
My use case:
one form with N edittexts and one button.
When one edit text lose the focus, the library would validate just this particular view.
When the button is clicked, the library would validate all edittexts using the current features.

[2015-04-08 07:57] ragunathjawahar commented on #79
Yes, you can.

1. Use the `@Order` annotation on all your UI fields.
2. Set your `Validator`'s validation mode to `Mode.IMMEDIATE`.
3. Use a `TextWatcher` or an `OnFocusChangeListener` to validate your views by calling the `validator.validateTill(View)` or `validator.validateBefore(View)` methods to achieve the desired result.

[2015-04-08 07:57] #79 closed

[2015-04-09 18:29] edwardaa opened #80 "[Feature request] Add support for format arguments to messageResId"
similar way to context.getString(int resId, Object... formatArgs)

[2015-04-10 07:55] ragunathjawahar commented on #80
@edwardaa even if I add support to formatted args, you wouldn't be able to pass in variables as arguments. Are you aware of this? Also, any use case would be encouraging.

[2015-04-10 14:01] edwardaa commented on #80
for example:
[code]

[2015-04-10 15:19] lucastan opened #81 "email validation for new TLDs"
new TLDs like .company , .club are not accepted

[2015-04-10 21:20] edwardaa opened #82 "open interface of Validator.removeAllRules() and Validator.getValidationListener()"
Hi @ragunathjawahar , in case where adding/removing views dynamically, multiple `Validator` objects may be created, one for static views, others for dynamic views, and multiple ValidationListener are created. For validators of dynamic views, the `Validator.removeAllRules()` or `Validator.getValidationListener()` is useful

[2015-04-14 14:42] ragunathjawahar commented on #82
Could you please show some code?

[2015-04-14 14:42] ragunathjawahar commented on #81
@lucastan Good one. Will add support. Or feel free to send in a pull request.

[2015-04-14 15:11] edwardaa commented on #82
thanks, at last I have to use a hack way to  that, but it works

[2015-04-14 15:11] #82 closed

[2015-05-08 14:06] hardikamal opened #83 "It will be great to have Phone and pincode validation"
It will be great to have Phone and pincode validation.... Thanks for the awesome library

[2015-05-08 16:31] inktomi commented on #83
What do you mean by pincode validation? Could you use @NotEmpty @Digits?

For phone numbers you could use @Pattern with a regex to match a phone number in the format you're expecting.

[2015-05-08 16:58] ragunathjawahar commented on #83
There is no standard format for telephone numbers and pin codes (widely known as zip code in other countries). Both of these differ from country to country. @hardikamal You could use the annotations just like @inktomi mentioned or you could also create your own custom annotations for reusability. I also should bring to your attention, the lesser know [Saripaar X](https://github.com/ragunathjawahar

[2015-05-08 16:59] #83 closed

[2015-05-12 12:59] Philio opened #84 "Domain validator missing hundreds of TLDs"
The list of domains in the domain validator is somewhat lacking...

https://github.com/ragunathjawahar/android-saripaar/blob/master/saripaar/src/main/java/commons/validator/routines/DomainValidator.java#L220

See: http://www.newtldlist.com/

[2015-05-15 07:37] ragunathjawahar commented on #84
@Philio Thanks for the link. Also reported in #81

[2015-05-15 07:37] ragunathjawahar commented on #81
Follow #84

[2015-05-15 07:37] #81 closed

[2015-05-15 08:25] #84 closed

[2015-05-15 08:25] ragunathjawahar commented on #84
Snapshot available.

[2015-05-16 09:15] pawarlalit29 opened #85 "Fragment crash No rules found. You must have at least one rule to validate."
This is the sample fragment. Its is not working on fragment but working fine if converted to activity

        package com.sample.mysample.fragments;

       import android.os.Bundle;
       import android.support.v4.app.Fragment;
       import android.support.v4.app.FragmentManager;
       import android.util.Log;
       import android.view.LayoutInflater;
       import android.view.View;

[2015-05-16 09:34] ragunathjawahar commented on #85
Change `validator  = new Validator(getActivity());` to `validator  = new Validator(this);`. You should pass the object that contains view field declarations.

[2015-05-16 09:34] #85 closed

[2015-05-16 10:12] pawarlalit29 commented on #85
thanks.

[2015-06-04 11:59] wang9090980 opened #86 "It's not Compatible with Jackson"
Hi:
   I found is not compatible with jackson's annotation?

[2015-06-06 03:49] ragunathjawahar commented on #86
@wang9090980 Nope, Saripaar comes with it's annotations. Sorry, I don't have plans to support Jackson annotations.

[2015-06-06 03:49] #86 closed

[2015-06-08 08:24] TheLester opened #87 "Validation edittext of recyclerview issue"
I have recycler view with edittext items,i added quick rules in bindview,  and when i call validate validation take place only on visible edittext. I think recycler unloads edittext or something ,but how i can resolve this?

[2015-06-08 16:11] Philio opened #88 "Validation fails for credit card numbers with spaces in"
If you enter a valid credit card number with spaces between groups e.g.

4111 1111 1111 1111 (Visa test card number)

Validation fails.

It's a fairly common practice to display credit card numbers this way for readability. Is there some way to trim the whitespace without adding a custom annotation/rule?

[2015-06-08 16:37] ragunathjawahar commented on #88
Uploaded a new snapshot with the fix. Can you try it out and let me know if it works?

[2015-06-09 09:38] Philio commented on #88
Thanks, I'll give it a try today and let you know if there are any issues.

[2015-06-10 11:25] Philio commented on #88
I can confirm that it works with the latest snapshot, thanks!

[2015-06-10 11:25] #88 closed

[2015-06-10 12:04] Philio opened #89 "Snapshots can be inconsistent, any ETA on a beta release?"
We've been using the 2.0 snapshot for a while and for our usage it's been very stable and the minor issues that we've reported have been resolved very promptly so thanks for this.

As we near a public release of the phase of our application that uses the library it raises some concerns with continuing to use snapshots.

Unfortunately as there is no mechanism within Gradle to specify a specific sna

[2015-06-10 14:54] ragunathjawahar commented on #88
Thanks for confirming and you're welcome :)

[2015-06-11 10:43] blazmag commented on #89
+1

[2015-06-11 10:58] alpm commented on #89
+1

[2015-06-11 11:25] ragunathjawahar commented on #89
I'll look into this as soon as I can. Most probably within the next couple of weeks.

[2015-06-11 15:58] Philio commented on #89
It turns out that something was added to use a specific snapshot in Gradle 2.4:

https://docs.gradle.org/current/release-notes#depending-on-a-particular-maven-snapshot-version

I'll give this a try and see if it works, might solve the problem in the short term.

[2015-06-11 16:21] Philio commented on #89
Can confirm that this works with Gradle 2.4:

`    compile 'com.mobsandgeeks:android-saripaar:2.0-20150608.165549-1'`

Also this works if you just want the latest (it forces the cache to be refreshed, which doesn't happen by default):

`    compile group: 'com.mobsandgeeks', name: 'android-saripaar', version: '2.0-SNAPSHOT', changing: true`

[2015-06-12 02:55] ragunathjawahar commented on #89
@Philio This is good. Thanks for posting this tip. Would be beneficial to others in a similar situation :) I'll expedite this as much as I can.

[2015-06-13 10:31] #87 closed

[2015-06-13 11:43] ragunathjawahar commented on #87
@TheLester how did you manage to resolve this?

[2015-06-13 15:45] TheLester commented on #87
@ragunathjawahar I just deleted part of this checking (715 row in Validator,java) :
if (view.isShown() && view.isEnabled()) {....

[2015-06-16 01:04] ragunathjawahar commented on #87
@TheLester out of curiosity, why did you choose to use a `RecyclerView`?

[2015-06-17 19:04] TheLester commented on #87
@ragunathjawahar  cause i have list of input items(for some info detail) in my app, and user could add as many as he wants this detail items

[2015-06-18 02:03] ragunathjawahar commented on #87
That's interesting :+1: Thanks.

[2015-06-29 15:15] viper83 opened #90 "validation sequnce"
Hello! And thank you for the lib.

I have a question for you.

I want to validate 2 EditText view's

    @Order(1)
    @NotEmpty(sequence = 1, messageResId = R.string.username_is_required)
    @Size(sequence = 2, min = 5, messageResId = R.string.username_too_short)
    EditText etUsername;
    @Order(2)
    @NotEmpty(sequence = 1, messageResId = R.string.email_address_is_required)
    @Email(seque

[2015-06-29 16:19] m-radzikowski opened #91 "Validating methods"
Currently to make custom validation we have to make for example:
[code]
in the `onCreate` / `onCreateView` / similar method. It would be great if we could extract this logic into separate method and annotate it, just like in Java Validation API. For example:
[code]
or to leave annotations signatures as they are (to not add `res` parameter) it could be new annotation only for methods:
[code]

[2015-06-29 16:41] m-radzikowski opened #92 "Allow override default messages"
Adding multiple validated fields across multi-lang application requires many repetitions of
[code]

Without specifying `messageResId` Saripaar uses default message defined in annotation, in this case
[code]

Maybe default messages could be moved into strings.xml and specified in annotation as, in this case:
[code]
`message` would be used only if it wouldn't be empty, in other case resource specifi

[2015-06-30 01:09] ragunathjawahar commented on #90
Use the `IMMEDIATE` mode for validation. This is what you are looking for `mValidator.setValidationMode(Mode.IMMEDIATE);`

[2015-06-30 05:55] viper83 commented on #90
Thanks!
Sorry, i forgot to say, but i already use this mode
    validator.setValidationMode(Validator.Mode.IMMEDIATE);

And the issue reproduced with this mode. If rge etUsername is empty and i call validator.validate(), i have 2 error messages - message about username is required and message about username is too short.

For me the sequence options affects only the error messages order in the Val

[2015-07-01 02:00] ragunathjawahar commented on #90
@viper83 Yes that's right. You get a list of errors for the `etUsername` field. Just display the first error and ignore the rest.

[2015-07-01 06:20] viper83 commented on #90
@ragunathjawahar ok, thanks!
I will use a list of messages and get only first of them. I just thought there is a option out of the box.

[2015-07-01 06:20] #90 closed

[2015-07-01 06:21] ragunathjawahar commented on #90
@viper83 You're welcome.

[2015-07-01 13:18] rexi1r opened #93 "validate custom view"
hi i need validate custom view.i know that i can use ViewDataAdapter but how?

[2015-07-08 13:43] niranjan94 opened #94 "Library (latest versions) not available on jcenter."
Library (latest versions) are not available on jcenter. Please fix this, as android studio uses jcenter repo by default. And it's many times better than mavencentral.

[2015-07-08 13:45] #94 closed

[2015-07-09 14:10] LuisBurgos commented on #93
Hi @rexi1r, I had the same problem with https://github.com/rey5137/material trying tu use the EditText widget from that library, here's what worked for me:

1. Create an adapter for the widget which implements ViewDataAdapter
   * In my case, I named **AdapterMaterialEditText:**
[code]
2. Register the new adapter to Validator
[code]

   * In my case, I put it after creating an instance of Validato

[2015-07-13 17:30] dimsuz opened #95 "Provide a variant of @Pattern annotation which accepts java.util.rexex.Pattern"
Currently `@Pattern` annotation supports only `String` regex parameter, but sometimes it is handy to pass some predefined `Pattern`. For example android has an utility [Patterns](https://developer.android.com/reference/android/util/Patterns.html) class which exposes a number of patterns as static `Pattern` instances.

It would be great to have an ability to just pass them to `@Pattern` annotation.

[2015-07-14 11:27] kitallis commented on #78
Is there an example of how you could custom implement this behavior?

[2015-07-15 04:39] ragunathjawahar commented on #93
@rexi1r If you want to use existing annotations with your custom views, use the solution mentioned by @LuisBurgos. If you want to use a custom annotation, you must write your own annotation and a `ViewDataAdapter`.

Here's a [SO Post](http://stackoverflow.com/questions/21405645/adding-a-custom-annotation-to-android-saripaar) on how to write custom annotations.

[2015-07-15 04:39] #93 closed

[2015-07-15 04:42] ragunathjawahar commented on #91
@m-radzikowski This looked like an interesting idea and I was pondering about this for a while after you raised this issue. We won't be proceeding with this for two reasons.

1. Discourages code reuse.
2. Overuse of annotations, will have to add support for ordering, sequencing and the methods will be scattered all over the Activity making it hard to maintain and debug.

[2015-07-15 04:42] #91 closed

[2015-07-23 09:28] #76 closed

[2015-07-23 09:30] ragunathjawahar commented on #68
Follow #89

[2015-07-23 09:30] #68 closed

[2015-07-24 05:37] ragunathjawahar commented on #95
@dimsuz I don't see too many benefits that this PR / feature would add to the library. There are 6 patterns out of which 5 are already present in Saripaar. The only missing regex is *phone* which you can copy from the [source code](https://android.googlesource.com/platform/frameworks/base/+/refs/heads/master/core/java/android/util/Patterns.java) itself.

[code]

[2015-07-24 05:37] #95 closed

[2015-07-24 06:17] #77 closed

[2015-07-24 06:55] ragunathjawahar commented on #66
Saripaar v2 contains a subset of validators from the [Commons Validator](http://commons.apache.org/proper/commons-validator/) project. You can find them [here](https://github.com/ragunathjawahar/android-saripaar/tree/master/saripaar/src/main/java/commons/validator/routines).

Use them in combination with a `QuickRule` to achieve the desired result.

[2015-07-24 06:55] #66 closed

[2015-07-24 09:14] Zenyai opened #96 "DialogFragment not working"
Hello, I try to add validation on DialogFragment but it never validate

This is my code, I'm using **android-saripaar-1.0.3.jar**
[code]

**Somehow it always return onValidationSucceeded**

Log
[code]

Best Regards,
Narongdej

[2015-07-24 09:15] Zenyai commented on #78
+1

[2015-07-24 09:55] ragunathjawahar commented on #96
@Zenyai, the log says it all - your `username` is null. Check your layout file `dialog_username_setting.xml` for a view with id `username`.

[2015-07-24 10:00] Zenyai commented on #96
@ragunathjawahar LOL thanks a lot, I think I've been staring at the monitor for too long, need to take a break.

Great library btw :+1:

[2015-07-24 10:00] #96 closed

[2015-07-24 10:16] ragunathjawahar commented on #96
@Zenyai You're welcome :)

[2015-07-24 14:01] dimsuz opened #97 "Validator.registerAdapter() should not be static (or leaks are easy to follow)"
I beleive that it would be better to make `Validator.registerAdapter()` non-static method.

I just had whole `Activity` context leaked because of this method is static.
If you do something like this in your activity:

[code]

then you automatically leak your Context, because it gets captured by anonymous class.
And using anonymous classes for this kind of things is very common.
So using static her

[2015-07-24 14:11] ragunathjawahar commented on #97
You're right. Feel free to send a PR.

[2015-07-24 14:13] dimsuz commented on #97
Ok!

[2015-07-27 04:19] ragunathjawahar commented on #97
Fixed by 350a42cddd2470a2c5404407bb9a22eee98c4c73

[2015-07-27 04:19] #97 closed

[2015-07-27 12:18] createS0ftware opened #99 "What is the current version ?"
HI

dependencies {
    compile 'com.mobsandgeeks:android-saripaar:2.0-SNAPSHOT'
}

This call does not work . What is the current version ? How is version 1 defined ?

dependencies {
    compile 'com.mobsandgeeks:android-saripaar:1.0
}

also does not work

Thanks

[2015-07-27 12:34] ragunathjawahar commented on #99
You haven't included the snapshot URL. Check the Snapshots section in Readme. Check releases (https://github.com/ragunathjawahar/android-saripaar/releases) to find the list of available versions.

[2015-07-27 12:34] #99 closed

[2015-07-27 12:35] ragunathjawahar commented on #97
@dimsuz Thank you :+1:

[2015-07-27 15:53] createS0ftware commented on #78
I was just looking to find how to create a custom ViewDataAdapter for a radioGroup

Is there an example ?

Thanks

[2015-07-28 17:33] dimsuz commented on #97
you are welcome :)
do you plan to upload a new snapshot to sonatype in near future?

[2015-07-28 17:53] ragunathjawahar commented on #97
Thanks for reminding. Just uploaded a new snapshot.

[2015-07-28 18:19] dimsuz commented on #97
Great, thank you!

[2015-07-29 08:52] dimsuz commented on #97
@ragunathjawahar somehow the current snapshot became `.aar` instead of `.jar` which it was in previous versions. Is this intentional or some issue has led to this? I unpacked `.aar` and its res/ folder is empty, so seems like a build misconfiguration?..

See https://oss.sonatype.org/#nexus-search;quick~saripaar

[2015-07-29 09:01] ragunathjawahar commented on #97
@dimsuz I have to update my maven publishing script, both `.aar`s and `.jar`s are being uploaded. Did you mention `@aar` in your dependency?

[2015-07-29 09:02] dimsuz commented on #97
No, I tried to download directly from the above link. Currently I have `android-saripaar.jar` placed directly in my `libs/` folder (due to various reasons) - that's why I noticed that it changed from `.jar` to `.aar`...

[2015-07-29 09:05] ragunathjawahar commented on #97
![capture](https://cloud.githubusercontent.com/assets/1141970/8953847/1565e97a-35ff-11e5-8031-60505c7f2b48.PNG)

[2015-07-29 09:15] dimsuz commented on #97
oh, thank  you. didn't know about this!

[2015-07-29 09:38] dimsuz commented on #97
One more thing: somehow the change which was fixed by this issue is not present in the snapshot - `Validator.registerAdapter` is still static. Not sure why. I double checked by decompiling a `Validator.class` from the above `.jar` and it's indeed still static :)

[2015-07-29 11:38] ragunathjawahar commented on #97
:smiley: I didn't pull before I uploaded the archives. Can you check now?

[2015-07-29 11:45] dimsuz commented on #97
Everything is perfect now :) thanks.

[2015-07-29 14:57] agusgambina opened #100 "Gradle and import android-saripaar:2.0-SNAPSHOT"
I have been using this project like from 6 months, and I like it. But today this happened

I have this in my build.gradle inside my folder app
[code]
and this in build.gradle at the root folder of the project
[code]
But today when I cleaned my project and made the sync with gradle, seems is not importing the library anymore.

In every class I use dependencies of this library, it can not make the i

[2015-07-29 15:04] ragunathjawahar commented on #100
:confused: I checked and I don't see any problem in my IDE, one breaking change is that `@Size` has been renamed to `@Length`. Another developer confirmed a successful build too. Can you share specific error messages?

[2015-07-29 15:29] agusgambina commented on #100
Thank you for your quick response.

I am using Ubuntu 14.10, Android Studio 1.2.2, just for the record. Gradle doesn't throw me any error about importing the library (seems to be working), but in the classes cannot resolve the imports

![registry](https://cloud.githubusercontent.com/assets/2176582/8961557/4e475732-35ec-11e5-9970-1d3074baf07c.png)

[2015-07-29 15:34] agusgambina commented on #100
Seems it was the IDE, I closed the project and reopened and it worked.

[2015-07-29 15:38] #100 closed

[2015-07-29 15:39] ragunathjawahar commented on #100
@agusgambina Ok great!

[2015-07-30 14:15] ragunathjawahar commented on #78
You can make use of the `@Checked` annotation on a `RadioGroup`. The rule will pass if one of the `RadioButton`s is checked.

[2015-07-30 14:15] #78 closed

[2015-07-30 14:29] ragunathjawahar commented on #78
@createS0ftware Can you check the latest snapshot and let me know if it works as expected?

[2015-07-31 16:24] ragunathjawahar commented on #89
v2 has been released. Must take a while for it to appear on Maven Central. The release version is `2.0.0`

Release commit ID f8e96e8493a310a2a07d78e122bf88c29b2f9764

[2015-07-31 16:24] #89 closed

[2015-08-01 04:29] ragunathjawahar commented on #92
@m-radzikowski This is a really interesting idea. If we adopt this, we have to switch from offering JARs to AARs. That is one thing, it would certainly break compatibility with users who are still using Eclipse. I have planned a couple of features for `2.1.0`. Once I'm done with that, we can proceed with this idea.

So, post `2.1.0`, we'll offer AARs and break compatibility with Eclipse. Users wou

[2015-08-01 04:34] ragunathjawahar commented on #80
I am planning a tiny DSL that can achieve a similar effect. For instance,

    @hint is required.

Would get the hint attribute of an `EditText` and would produce the following messages based on the field.

    Email is required.
    Password is required.

[2015-08-01 10:11] ragunathjawahar commented on #53
Like I already mentioned, I am working on a tiny DSL that will enable users to create dynamic messages. Method calls are too much overhead to handle. Follow #80 for updates on this feature.

[2015-08-01 10:11] #53 closed

[2015-08-01 19:59] ragunathjawahar commented on #74
@dotDeeka The `2.1.0` version will contain an `@OptionalOrValid` annotation which can be used in combination with rule annotations for `EditText`. If the text is empty, the validation will pass or else we'd validate the field accordingly.

[2015-08-02 07:40] edwardaa opened #101 "NullPointerException of mValidationContext"
I am using saripaar `v2.0.0`, an exception ocurrs since `mValidationContext` was not instantiated:
[code]
Consider following example without annotated fields:
[code]

[2015-08-02 07:44] ragunathjawahar commented on #101
@edwardaa Thanks for reporting this.

[2015-08-02 13:30] ragunathjawahar commented on #101
`2.0.2` released to Maven Central, should be available in a couple of hours.

[2015-08-02 13:30] #101 closed

[2015-08-02 13:44] edwardaa commented on #101
Thanks for your hard work! it works like a charm

[2015-08-02 13:47] ragunathjawahar commented on #101
You're welcome :)

[2015-08-03 14:40] dotDeeka commented on #74
Thanks @ragunathjawahar, that should achieve the behavior I'm looking for. Thanks.

[2015-08-03 15:09] ragunathjawahar commented on #74
@dotDeeka You're welcome. Let's just keep this open till I release it.

[2015-08-05 14:32] ragunathjawahar commented on #92
The `2.1.0` would have at least the following,
- DSL for creating dynamic messages
- `@Or` and `@Optional` Annotations

I think, it would be nice to have these features available for users who are still using Eclipse. After implementing these, we'll add this ability to override default messages. In fact, a DSL is required to implement this feature because the generated resource IDs are not final i

[2015-08-17 02:58] ragunathjawahar commented on #72
Help needed :)

[2015-08-17 06:35] meNESS opened #102 "Validate Only If Fields Are Not Empty"
Hi,

Is there anyway to tell Saripaar to validate fields only if they're not empty? If not, please implement this feature.

Thanks for this great library.

[2015-08-17 06:44] ragunathjawahar commented on #9
Track issue #102

[2015-08-17 06:44] #9 closed

[2015-08-17 06:45] ragunathjawahar commented on #102
Hi, there'll be an `@Optional` annotation to facilitate this in the next release. You're welcome BTW.

[2015-08-21 14:11] syr opened #103 "RadioGroup Validation using @Checked"
Hello,
would be nice if also RadioGroups would be validated by annotation @Checked.

[2015-08-21 15:48] ragunathjawahar commented on #103
Works, can you recheck?

[2015-08-21 16:25] ragunathjawahar commented on #103
Already fixed, same as #78

[2015-08-21 16:25] #103 closed

[2015-08-22 09:40] Kikju opened #104 "Is it possible to work with two separate Validators?"
Hi,
I have a question. Is it possible to work with two separate Validators, which each has own rules to cover.

My case:
I have layout with form and send button. I want, that send button will be enable/disable according to validation state of form. But not all rules (given by anotation) but just for example NotEmpty. So it is possible to create two validators, first will do just enable/disable sen

[2015-08-22 12:04] woodcockjosh opened #105 "Button hint is counted as not empty"
Validation passes for @NotEmpty when button hint is set. This should only pass validation when button text is set.

[2015-08-23 05:39] ragunathjawahar commented on #104
Hi, it is possible to use two different validator. But you should have them in two different classes. Let's just say that we have two forms on the same screen. A login form and a registration form.

1. Create two Form classes - `RegistrationForm` and a `LoginForm`.
2. `RegistrationForm` should contain fields for registration and `LoginForm` should contain fields for logging in.
3. Add two differen

[2015-08-23 11:33] #104 closed

[2015-08-23 12:07] Kikju commented on #104
At first, I was thinking that you talking about two separate forms instead of two separate validators but when I thought about it.. I relase that you are right: It is basically the same situation and I need to create virtually two validators on two forms which have references to the same form...
Here is basics of my implementation:

    public class LoginActivity extends ActionBarActivity {

[2015-08-23 12:42] ragunathjawahar commented on #104
You nailed it! You're welcome.

[2015-08-24 09:39] syr commented on #103
Sorry, mis-used the framework. It works now. However, how to set encoding für @Checked(message?

[2015-08-24 09:47] syr opened #106 "Let validate() return List<ValidationError>"
Would be nice if there would be a validate method override of `List<ValidationError> validate()`.

Currently I'm setting a field of `List<ValidationError> validationErrorList;` by callback method like that:
`void onValidationFailed(List<ValidationError> list){`
`validationErrorList = list;`
`}`

[2015-08-24 10:28] xrnd opened #107 "Validation on Dialog View"
How to do validation on fields present in dialog.
As Validator is initialised either using activity/Fragment, I get an error displaying
"You must have at least one rule to validate. If you are using custom annotations, make sure that you have registered them using the 'Validator.register()' method."
I have set annotation but they are not identified by Validator.

Thanks

[2015-08-24 13:35] ragunathjawahar commented on #103
Do you mean string resources?

[2015-08-24 13:38] ragunathjawahar commented on #106
@syr sorry, we won't be doing this.

1. You have to do a null check or an empty list check if the validation passes.
2. This does not isolate the validation pass and validation failed logic.
3. With the current API switching to an async validation is seamless. I don't want users to remember / use two different methods for validation.

[2015-08-24 13:38] #106 closed

[2015-08-24 13:38] ragunathjawahar commented on #107
@xrnd Can you please paste some sample code?

[2015-08-24 14:14] syr commented on #106
@ragunathjawahar: Hi thanks for the quick feedback.

to 1st point: null-check and empty list check is not neccessary if `validate()` always returns a list even when it's empty. So one could iterate over it by foreach for example without that checks.
Btw. Returning null is bad ;-) (see described in Clean Code: A Handbook of Agile Software Craftsmanship (Robert C. Martin) and all over the net.)

to

[2015-08-24 14:26] syr commented on #103
Ok, that was a bit too brief..sorry.

I have something linke this: `@Checked(message = "öäüß")`

Instead of the characters there are only questionmarks in the Toast output.

Btw.: Is there a way to reference string resources and assign them to message like this or maybe similar to?:
`@Checked(message = @string/myStringMessage)`

[2015-08-24 14:45] ragunathjawahar commented on #103
Use the `messageResId` attribute instead of `message`

[2015-08-24 15:01] syr commented on #103
oops I should have seen that...perfect..thanks.

[2015-08-25 04:01] ragunathjawahar commented on #107
What are you passing to the validator? The dialog instance or the activity? The Validator accepts the object that contains the annotated fields. If your fields are declared and annotated inside the dialog class. You should pass the dialog to the constructor.

[2015-08-26 03:38] xrnd commented on #107
Hi,
I am using default Dialog class instance but my dialog fields are declared in activity and annotated. I first passed dialog instance since fields are in that, but realised from your answer that they are declared in Activity so I need to pass activity instance. Thanks alot @ragunathjawahar .

[2015-08-26 03:46] ragunathjawahar commented on #107
@xrnd, you're welcome.

[2015-08-26 03:48] #107 closed

[2015-08-26 14:08] syr commented on #106
Just worked around by inheriting Validator by
`public class ActivityValidator extends Validator implements Validator.ValidationListener` ..in that way that in any activity I just have to write a one liner bevore saving like this:

`if(new ActivityValidator(this).validationFailed()){ break; }`

[2015-08-27 02:23] wanglg opened #108 "Project operation"
showcase not run

[2015-08-27 04:15] ragunathjawahar commented on #108
The current showcase is based on Kotlin, you need to install the Kotlin plugin. Also, I'll look into it this and come up with a Java version too. Thanks.

[2015-08-29 11:55] Narayane opened #109 "Attach views to a validator ?"
Hi,

in a single screen, I have a login and a sign up forms.

I wonder if it was possible to "attach" login views to a login validator (same for sign up) which would allow to only validate relative views and not all the views of the screen on mLoginValidator.validate().

e. g. something like that:

mLoginValidator = new Validator(this);
mLoginValidator.setValidationListener(mLoginValidationListene

[2015-08-29 12:13] Kikju commented on #109
Few days ago, I dealt with similar problem.
See https://github.com/ragunathjawahar/android-saripaar/issues/104

[2015-08-29 14:31] Narayane commented on #109
Hi @Kikju

maybe in this case attach validator to annotation as:

@NotEmpty(validator = mLoginValidator, ...)
private EditText mEditTextLoginEmail;

[2015-08-29 14:34] Kikju commented on #109
No, you problem is as same as my...
Just write two classes, provide views into this classes and both of classes have own validator object... And if you want, validation listener can be same for both of them

[2015-08-29 16:21] ragunathjawahar commented on #109
@Narayane @Kikju is right. Check issue #104

[2015-08-29 17:07] #109 closed

[2015-08-30 16:32] Narayane commented on #109
Hi,

not sure second class creation to validate only 2 fields be the most efficient solution.

Thanks anyway.

[2015-09-02 11:11] ImMathanR opened #110 "Showing all the failed results of a particular view"
These are the rules I have added for the view.

@NotEmpty(sequence = 1, message = "Please enter Email Id")
    @Email(sequence = 2, message = "Please enter valid Email Id")
    @Order(3)
    @Bind(R.id.email)
    EditText mEmail;

In onValidationFailed method I try to get the error like

errors.get(0).getCollatedErrorMessage(context);

Here I am getting both the Error messages in a single string.

[2015-09-02 16:04] thomasbeerten opened #111 "Localization"
Great library, makes validation extremely clean!
I was wondering if there is a way to localize the error messages you annotate?

In my fragment I use Butterknife:

@NotEmpty(message = "This field can't be empty!!")
@Bind(R.id.txtTeamname)
EditText txtTeamname;

At that point in code, I can't reach my resources, to get to my Strings file. Any suggestions?

[2015-09-02 16:42] Kikju commented on #111
you can use @NotEmpty(messageResId = R.string.text)
Dňa 2.9.2015 18:04 používateľ "thomasbeerten" <notifications@github.com>
napísal:

[2015-09-02 16:46] ragunathjawahar commented on #111
@Kikju is right. @thomasbeerten use the `messageResId` attribute.

[2015-09-02 16:46] #111 closed

[2015-09-02 16:51] ragunathjawahar commented on #110
You could do the following to achieve the desired result.

[code]

[2015-09-02 16:51] #110 closed

[2015-09-15 15:49] herghost commented on #102
@ragunathjawahar Any news on the next release, I also require this and echo @alirezaaa comments on a great library :-)

[2015-09-15 15:55] herghost commented on #102
As a work around for now, I have changed anything I required that is optional to the pattern match and just added '^$'

[2015-09-15 16:08] herghost opened #112 "Multiple validations"
Is there a way to have multiple validations for a form?

For instance I have a example where certain fields on my form are required if a condition is met, but should be ignored otherwise.

How would I go about achieving this?

[2015-09-15 16:21] Kikju commented on #112
check this https://github.com/ragunathjawahar/android-saripaar/issues/104
You can have separate forms and conditions...

[2015-09-15 16:23] herghost commented on #112
@Kikju - Fantastic, thanks!

[2015-09-15 16:23] #112 closed

[2015-09-18 04:11] ragunathjawahar commented on #105
Fixed in d0f70b620d132e2335ecff0e1b93c3dee3e29998, `@NotEmpty` annotation now has `emptyText` and `emptyTextResId` attributes.

[2015-09-18 04:11] #105 closed

[2015-09-18 04:13] woodcockjosh commented on #105
is this released?

On Fri, Sep 18, 2015 at 12:11 AM, Ragunath Jawahar <notifications@github.com

[2015-09-18 04:14] ragunathjawahar commented on #105
Yes, version 2.0.3

[2015-09-18 08:45] ragunathjawahar commented on #102
@herghost Thank you, I don't have a timeline on this yet. But will post updates on this thread.

[2015-09-19 08:01] Qazzaq2 opened #113 ""'EditText loginText' is null" error"
Hi,
I get error message "'EditText loginText' is null"  when i try to validate fields. Whats wrong is with my code?

    public class LoginActivity extends AppCompatActivity implements ValidationListener {

    @NotEmpty
    EditText loginText;
    @Password(min = 3, scheme = Password.Scheme.ALPHA_NUMERIC_MIXED_CASE_SYMBOLS)
    EditText passwordText;
    Button loginButton;

    @Override
    pro

[2015-09-19 08:11] Kikju commented on #113
you are missing findViewById statement loginText and  passwordText
Dňa 19.9.2015 10:01 používateľ "Qazzaq2" <notifications@github.com> napísal:

[2015-09-19 08:49] Qazzaq2 commented on #113
Im still getting the same error

[2015-09-19 09:52] ragunathjawahar commented on #113
Can you post the updated code?

[2015-09-19 12:49] Qazzaq2 commented on #113
XML files seems ok, traceroute:

            FATAL EXCEPTION: main
            java.lang.IllegalStateException: 'EditText loginText' is null.
            at com.mobsandgeeks.saripaar.Validator.getView(Validator.java:667)
            at com.mobsandgeeks.saripaar.Validator.createRules(Validator.java:580)
            at com.mobsandgeeks.saripaar.Validator.createRulesSafelyAndLazily(Validator.java:478

[2015-09-19 14:49] ragunathjawahar commented on #113
Set a break point and try to find out why `loginText` and `passwordText` is `null` or post your XML and Java sources.

[2015-09-22 13:01] #113 closed

[2015-09-29 07:13] Zapnologica opened #114 "Checked annotation for Switch view component."
I tried the following:

   `@Checked(message = "You must agree to the terms.")
    private Switch switchTerms;`

and I got the following exception:

  `java.lang.UnsupportedOperationException: To use 'com.mobsandgeeks.saripaar.annotation.Checked' on 'android.widget.Switch', register a 'com.mobsandgeeks.saripaar.adapter.ViewDataAdapter' that returns a 'java.lang.Boolean' from the 'android.widget.Sw

[2015-10-06 07:26] ragunathjawahar commented on #114
[code]

Register your adapter with your validator
[code]

`SwitchBooleanAdapter` will be available out-of-the-box in future releases. The current snapshot `(2.1.0-SNAPSHOT)` has it, therefore no explict registration required if you are going to use it.

[2015-10-06 07:26] #114 closed

[2015-10-06 08:30] Zapnologica commented on #114
Thanks for the feedback. I will wait for it to be out of the box as it is not currently a necessity.

[2015-10-06 12:10] pawarlalit29 opened #115 "Email Validation issue"
Hi @ragunathjawahar

Email validation is accepting email like "xyz@.com" which should not...Thanks

[2015-10-07 06:20] ronakamlani opened #116 "Dynamic validation"
Hello, first of all thank you so much such perfect library.

I am new with your library I have conditional based some field, can I validate that as well ? if yes then how.

Thanks,
Ronak Amlani

[2015-10-07 13:25] ragunathjawahar commented on #116
Thank you Ronak. Can you give me an example?

[2015-10-07 14:02] ronakamlani commented on #116
Definitely my friend,

Its not bug, I do not know the way to achieve..

Check below code and comment....

    @NotEmpty
    private EditText etQrcodeName;

    @NotEmpty
    private EditText etStartDate;

    @NotEmpty
    private EditText etEndDate;

    //Configuration
    private Spinner spQrcodeType;

    @NotEmpty
    private EditText etQrcodeData;

	/*****************************************

[2015-10-11 08:28] khafan commented on #32
@ragunathjawahar In our application we have lots of input fields with different minimum length required. I think it's ugly to have tens of similar message just for a varying number.
Can you consider it as a new feature?

[2015-10-12 12:45] ragunathjawahar commented on #32
@khafan Can you raise this as a separate ticket, so that I can keep track of this?

[2015-10-13 07:32] khafan opened #117 "Formatted string as error message"
In case of having lots of input fields with different minimum length required, it would be nice to have the ability of making formatted string as error message. For example,
[code]
 #32

[2015-10-13 07:38] ragunathjawahar commented on #117
Will look into this.

[2015-10-16 22:37] kamilwlf opened #118 "Does it work with Floating labels?"
Does it work with Floating labels?

[2015-10-17 02:20] ragunathjawahar commented on #118
Yes, it does. You just have to supply a suitable adapter.

[code]

Depending upon the rule, you have to supply adapters that return the appropriate data type.

[2015-10-17 02:20] #118 closed

[2015-10-17 16:51] kamilwlf commented on #56
sample project should be in pure Java without e.q kotlin

[2015-10-17 18:28] kamilwlf commented on #118
I had to modify your code, leave it or something can be better?

   ViewDataAdapter<TextInputLayout , String> fletStringAdapter = new ViewDataAdapter() {
            @Override
            public Object getData(View view) throws ConversionException {
                TextInputLayout textInputLayout= (TextInputLayout)view;
                return textInputLayout.getEditText().getText().toString();

[2015-10-17 19:08] kamilwlf commented on #118
ok, works mycode:

    validator.registerAdapter(TextInputLayout.class,
                new ViewDataAdapter<TextInputLayout, String>() {
                    @Override
                    public String getData(TextInputLayout flet) throws ConversionException {
                        return flet.getEditText().getText().toString();
                    }
                }
        );

[2015-10-18 03:13] ragunathjawahar commented on #118
OK great!

[2015-10-30 01:36] ragunathjawahar opened #120 "Built-in quick rule equivalents for @Optional and @Or"

[2015-11-09 12:59] KingOfBeer opened #121 "Butter knife?"
Can i use this library alongside with butterKnife?
Great library Good Work

[2015-11-09 14:09] ragunathjawahar commented on #121
Of course, you can and thank you.

[2015-11-09 14:09] #121 closed

[2015-11-09 14:15] LuizGadao opened #122 "Custom rule for validate CPF"
How can I validate a field with this algorithm:

[code]

[2015-11-09 14:39] KingOfBeer commented on #121
Cool... thank you

[2015-11-11 02:52] AlbertoMonteiro commented on #117
Its a basic feature!!!

[2015-11-11 03:11] AlbertoMonteiro commented on #122
Assim:

[code]

[code]

E ai você usa assim:

[code]

[2015-11-11 03:15] AlbertoMonteiro commented on #115
Also email validation break SRP.
Email should not check if string is null or empty, because it is responsability of NotEmpty validation.
Using saripaar I cant have a not required email field.

[2015-11-11 21:45] LuizGadao commented on #122
Eu tinha resolvido isso.

Mas, de qualquer forma muito obrigado.

[2015-11-13 10:44] ragunathjawahar opened #123 "Rule for person name."
Self-descriptive. See http://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/

[2015-11-13 10:48] ragunathjawahar opened #124 "Minimum age validation."
Self-descriptive.

[2015-11-18 08:43] zatyabdullah opened #125 "Datepicker &dropdown validation"

[2015-11-25 08:31] CrazyDude1994 opened #126 "Add strict Max,Min,DecimalMin,DecimalMax validator"
We need add Max,Min,DecimalMin,DecimalMax validator that will check if value is greater or less than without equality.

Without this, I can't check if value is greater than zero, because Min or DecimalMin checks for equality too.

[2015-11-29 11:46] gavelez opened #127 "Add Rule programmatically"
Hello, i'm writing a dynamic form generator for Android and i want to know how can i add a rule programmatically. I've searched on Google and StackOverflow and have not found something similar.

Thank you in advance

[2015-11-30 17:55] #122 closed

[2015-11-30 17:57] ragunathjawahar commented on #122
@AlbertoMonteiro Good job!

[2015-11-30 17:59] ragunathjawahar commented on #116
You need to write a `QuickRule` to validate the fields based on the value selected in your `Spinner`.

[2015-11-30 18:01] ragunathjawahar commented on #127
You can use quick rules to programmatically add rules during runtime to the `Validator`.

[2015-11-30 18:03] ronakamlani commented on #116
Do you means my custom rules ?
On Nov 30, 2015 11:30 PM, "Ragunath Jawahar" <notifications@github.com>
wrote:

[2015-12-01 06:06] Zapnologica opened #128 "Password does not explain whats wrong"
I have the following in my Activity:

    @NotEmpty
    @Password(min = 6, scheme = Password.Scheme.ALPHA_NUMERIC)
    private EditText editTextPassword;

Now if I type a password that is 4 long.  My EditText just says Invalid Password. It does not tel the user exactly what is wrong?

here is my OnValidationFailed:

  @Override
    public void onValidationFailed(List<ValidationError> errors) {

[2015-12-03 09:48] ragunathjawahar commented on #116
That's right.

[2015-12-03 09:50] ragunathjawahar commented on #128
Yeah, currently the validator does not dynamically display error messages. You have to use a message like - Password should contain alphabets and numbers. That's the best we can do at the moment, however I'll keep this open as an enhancement.

[2015-12-03 09:54] ronakamlani commented on #116
Please tell me syntax, I can not found QuickRule.

Thank thank you so much for your time.

Regards,
Ronak Amlani.

On Thu, Dec 3, 2015 at 1:48 AM, Ragunath Jawahar <notifications@github.com>
wrote:

[2015-12-13 21:13] draskosaric opened #129 "Error messages not placed correctly"
Hi,

I created `LinearLayout` and put `TextInputLayout` widgets one under the other. Then I implemented custom adapter and everything works fine, but first error message after validation is not placed correctly. I feel that it may have something to do with keyboard that raises up, but maybe I am wrong.

On first screenshot email is empty and appropriate message is shown, but put upper than it shou

[2015-12-15 09:39] HermannK opened #130 "Validating hidden fields"
Hi Ragunath,

I understand from reading other issues that it is a feature. However, we've got a view that is layouted similar to an expandable list where the user can collapse sections of the view. Within these partly collapsed sections are input fields that we need to include in the validation. By collapsing a section all subviews are hidden (visibility=GONE), including the input fields.

I under

[2015-12-16 14:10] draskosaric commented on #130
I am positive that setError() will work on hidden EditText. If this option is enabled you should definitely try to develop some other way of error notification in `public void onValidationFailed(List<ValidationError> errors)` for this scenario.

[2015-12-16 14:26] HermannK commented on #130
We have got an implementation of onValidationFailed that does not use setError(). But even if - that does not help much when the hidden fields are not even validated, though?

[2015-12-16 14:28] draskosaric commented on #130
You are right about that. I think that would be useful feature too. So, where do I sign in? :)

[2015-12-17 05:27] u007 opened #131 "radiogroup notempty?"
is there anyway for us to prompt radio group as required?

[2015-12-18 21:54] kunalbuddy commented on #4
@mehdifanai  didnt get you

[2015-12-25 06:25] ragunathjawahar commented on #131
You can use the `@Checked` annotation.

[2015-12-25 06:25] #131 closed

[2015-12-25 06:26] ragunathjawahar commented on #130
We could have a configuration that allows validation of hidden fields. Will add it.

[2015-12-26 10:42] kikuchy opened #132 "Can't annotate delegated properties in newer Kotlin"
We (I and my project members) glad to use android-sarippar, we are helped by it.

In the project using Kotlin 1.0.0-beta-4584, android-sarippar's annotations are not used.

I annotated like this,
[code]
and compile error caused.
[code]

In Kotlin, proteries without backing field can't annotate with the annotation has `@Target(ElementType.FIELD)` .

(The annotation that is made with Kotlin and has

[2015-12-27 17:14] u007 commented on #131
hi, can this be noted in the readme?

[2015-12-30 16:59] HermannK commented on #130
Great news. Thanks.

[2015-12-31 06:29] eternalBlast commented on #57
Hello @ragunathjawahar I tested with sequencing use case but the error messages displayed all errors on one field. This is my code:
@Order(1)
@NotEmpty(sequence = 1, messageResId = R.string.must_filled)
@Length(sequence = 2, min = 4, messageResId = R.string.min_char)
@Bind(R.id.name)
protected EditText mFullnameText;
I have set validator.setValidationMode(Validation.IMMEDIATE)
I want when not empt

[2016-01-05 14:49] nazeels commented on #102
Hey @ragunathjawahar is this fixed

[2016-01-07 05:24] ragunathjawahar commented on #132
Thanks for reporting this. Will look into it. Feel free to send in a pull request (along with test cases) if you can.

[2016-01-07 05:25] ragunathjawahar commented on #131
Will add it to the Wiki.

[2016-01-07 05:27] ragunathjawahar commented on #102
@nazeels it isn't. I accidentally slipped the `@Optional` annotation into the release build. It isn't functional yet. It will be in the next release.

[2016-01-07 05:40] u007 commented on #131
Awesome man, great library +1
On 7 Jan 2016 13:25, "Ragunath Jawahar" <notifications@github.com> wrote:

[2016-01-08 05:51] arjunkn commented on #104
Hi, I am getting this error when using this code...

FATAL EXCEPTION: main
                                                                        Process: com.xx.xx, PID: 24281
                                                                        java.lang.NullPointerException: Attempt to invoke virtual method 'void com.mobsandgeeks.saripaar.ValidationContext.setViewRulesMap(java.util.Map)' on

[2016-01-08 06:02] ragunathjawahar commented on #131
Thank you :)

[2016-01-08 10:05] xinghewang opened #133 "How about the custom rule"
I want create regex rule

[2016-01-13 05:06] arjunkn opened #134 "Multiple form validations in one acitvity"
Hi,

I have 3 forms and 3 submit buttons in one activity and i want to validate them separately. I tried the answer in issue #104 but I am getting this error when using that code...
[code]

[2016-01-18 10:16] ragunathjawahar commented on #133
Use the `@Pattern` annotation.

[2016-01-18 10:16] #133 closed

[2016-01-19 11:10] molexx opened #135 "Synchronous validation response"
There are cases where you want to run validation and get the response in a single thread. For example, when the user hits 'Done' on the keyboard on the last field you might want to validate all fields before submitting data to the server.

As far as I can see the only way to find out the validation result is in the onValidationSucceeded() callback, but in this multithreaded environment that doesn'

[2016-01-24 15:51] Zapnologica commented on #128
Good day,

i Just wanted to pop i and check what that status and possibility of adding the enhancement that explains what part of the validation failed from the annotations. For example.

if you set min length 3, there should be a standard error message saying the field needs to be more than 3 characters.

And then for passwords, based on the scheme which you chose in the annotation it should be a

[2016-01-28 12:05] steffandroid opened #136 "Validator.registerAdapter() doesn't work properly with Retrolambda"
We're currently using an anonymous ViewDataAdapter to get the String from the EditText of a TextInputLayout, like this:
[code]
When adding Retrolambda to the project, lint informed us that this could be replaced with a lambda expression, like this:
[code]
However, doing this resulted in the following exception when validation was attempted:
`java.lang.UnsupportedOperationException: To use 'com.mob

[2016-01-28 16:40] HappyDr0id commented on #126
You can create your own validation rules to check this.

[2016-01-28 16:42] HappyDr0id commented on #117
@AlbertoMonteiro you can contribute :)

[2016-01-28 17:39] AlbertoMonteiro commented on #117
@happydr0id thanks, but I am busy with other oss projects.

[2016-01-29 21:02] rzhik commented on #129
Try to use `setError()` method of your `TextInputLayout` instead of `EditTex`.

[2016-01-31 17:17] ragunathjawahar commented on #128
@Zapnologica this enhancement would be addressed in the next release.

[2016-02-02 08:59] HermannK commented on #130
@ragunathjawahar Do you have any idea about the timeframe yet?
Thanks
Hermann

[2016-02-03 03:55] shanuka commented on #129
1+

[2016-02-04 20:15] rephiscorth commented on #135
+1, `validate()` could return `true` or `false` on a sync call

[2016-02-05 10:16] MickaelRomaniello opened #137 "Validate custom View with String and Int"
Hi,
I'm using this library for my EditText <https://github.com/rey5137/material> and I must use ViewDataAdapter for Android Saripaar.
I used this post for solve one of my problem <https://github.com/ragunathjawahar/android-saripaar/issues/93>.

I can now use Annotation **Email** but I can't use **MAX** or **MIN** because I have this error `java.lang.UnsupportedOperationException: To use 'com.mobsa

[2016-02-08 03:48] ragunathjawahar commented on #135
@molexx this makes sense. Users don't have to wait until the async call returns. There are a couple of ways we could fix this.

1. Validate fields immediately after focus changes. This would allow async calls to be dispatched immediately while user is busy filling other fields. This can be achieved with the current library.
2. Return an observable for async calls in the callback. This way, users w

[2016-02-08 16:17] Zapnologica opened #138 "How to override an annotation"
How can I possibly override a rule / annotation to return a better error message?

I currently make use of the following password annotation:

[code]

However it simply replies invalid password which does not help end users one tiny bit.

How can I implement my own password rule, or even better extend the current saripaar one to actually return.

You need to have a upper case letter,
You need to h

[2016-02-18 13:49] PranKe01 commented on #102
Any new informations when the new version will be released? I also need optional validation :|

[2016-02-22 13:31] rishabutd commented on #78
@Checked
RadioButton rm;
@Checked
RadioButton rf;

I made a form in which I placed two radio buttons - Male and Female.

I have added the validation as shown above.

The problem is even after selecting one of the radio buttons, it still gives me a message (Must be checked).

Can you please explain this issue ?

[2016-02-22 13:40] ragunathjawahar commented on #78
@rishabutd Place your `RadioButton`s inside a `RadioGroup` and put a `@Checked` annotation on it.

[code]

This should work. You should use your technique only on `CheckBox`es.

[2016-02-22 13:41] rishabutd commented on #78
Yeah! I just tried that. Your code has been of great use.

[2016-02-22 13:42] ragunathjawahar commented on #78
Thank you :)

[2016-02-23 07:45] gauravsak opened #139 "No documentation of how to setup the project in order to contribute"
Need documentation around how to setup the projects and standards to follow while contributing. With advent of Android Studio, the directory structure (different for all projects) is confusing me in terms of how to contribute to this project.

[2016-02-24 15:43] SolaBe opened #140 "Update readme"
Current readme text contains old version of code

[2016-02-25 12:07] ragunathjawahar commented on #140
Can you be more specific please.

[2016-02-25 23:26] eklam commented on #116
@ronakamlani You can refer to[ this page ](https://github.com/ragunathjawahar/android-saripaar/wiki/Using-QuickRules)

[2016-02-26 03:17] ragunathjawahar commented on #116
@eklam Thanks for the wiki. I just  built on top of it.

[2016-02-26 03:44] csacanam opened #141 "Add multilanguage support"
You could use a strings.xml in order to give support to many languages. I could help you with spanish.

[2016-02-26 05:37] ragunathjawahar commented on #141
@csacanam yes, we should be doing aars and localized strings. Feel free to send a PR. The code style is same as in [AOSP](https://source.android.com/source/code-style.html).

[2016-02-27 04:30] ronakamlani commented on #116
I see you have created articles for me thank you so much man for that..

Thanks..
:)

On Fri, Feb 26, 2016 at 8:47 AM, Ragunath Jawahar <notifications@github.com>
wrote:

[2016-02-27 06:03] #116 closed

[2016-02-29 03:41] gauravsak commented on #138
@Zapnologica You can use the `message` attribute on the `Password` annotation to give a custom message. Currently, different messages based on different validation errors are not supported.

If you want to write you own rule, you can do it like [PasswordRule.java] (https://github.com/ragunathjawahar/android-saripaar/blob/master/saripaar/src/main/java/com/mobsandgeeks/saripaar/rule/PasswordRule.jav

[2016-02-29 03:48] gauravsak commented on #137
What do you exactly want to do?

Are you trying to use `@Email` and `@Min/@Max` on the same `EditText`? Well I don't know why you would want to do that because EmailRule is a string validator whereas MinRule/MaxRule are integer validators.

Please post some code so that its easier to understand you use case. Thanks.

[2016-02-29 03:51] gauravsak commented on #134
@arjunkn Please post some code.

Your form validation depends on where you call `Validator.validate()`.

[2016-02-29 04:31] arjunkn commented on #134
Thanks for the reply, This how I initialized

  merchantEditAccountValidator = new MerchantEditAccountValidator(etContactNumber, etShopName, etContactPerson, btnEditAccount);

        editAccountValidator = new EditAccountValidator(etContactNumber, etShopName, etContactPerson, new Validator.ValidationListener() {
            @Override
            public void onValidationSucceeded() {
//

[2016-02-29 04:51] gauravsak commented on #136
Reproduced and verified this bug. The return type of the anonymous `ViewDataAdapter` is considered as `Object`.

[2016-02-29 05:18] gauravsak commented on #134
@arjunkn What is the difference between `MerchantEditAccountValidator` and `EditAccountValidator`? Could you post the code which shows use of multiple forms please? Thanks.

[2016-02-29 05:30] arjunkn commented on #134
sry first line is commented,

this is second form calling.

         editPasswordValidator = new EditPasswordValidator(etOldPassword, etNewPassword,                     etRetypeNewPassword, new Validator.ValidationListener() {
            @Override
            public void onValidationSucceeded() {
        //                editPassword();
            }

            @Override
            public voi

[2016-02-29 09:55] avew commented on #115
up

[2016-02-29 23:50] Nasca91 opened #142 "Proguard - ViewDataAdapter - getData returns Object"
Hi, here is my ViewDataAdapter for TextInputLayout View.

[code]

It works well in Debug mode but in Release, with Proguard, I have an UnsupportedOperationException caused by the ViewDataAdapter.

Can someone help me?

Thanks in advance.

[2016-03-01 02:52] ragunathjawahar commented on #142
A complete stack trace would be helpful.

[2016-03-01 07:43] Nasca91 commented on #142
Here it is:
[code]
Thanks for the reply.

[2016-03-01 07:50] ragunathjawahar commented on #142
Did you register your adapter by calling `validator.registerAdapter(TextInputLayout.class, new TextInputLayoutAdapter())`?

[2016-03-01 07:55] Nasca91 commented on #142
Yep:
[code]
I read that there are problems with anonymous DataAdapter in `registerAdapter` method.

[2016-03-05 05:28] lepipele commented on #127
@ragunathjawahar I was trying to do this and I couldn't find an easy way to do it. Especially when I want to reuse existing rules you have in library rather than re-code them. This question on Stackoverflow essentially nails the essence of my question:

http://stackoverflow.com/questions/35737186/how-to-add-saripaar-validator-in-code-and-not-as-attribute

Let me know your stance on this - if neede

[2016-03-07 14:24] eduardostuart opened #143 ""Sometimes" validation"
Hi,

Is possible to handle "sometimes" validation? Example:

Rule:
Password: Not required, but if "not empty" should have at least 6 chars.

[2016-03-10 15:02] ragunathjawahar commented on #143
Yeah, there's an upcoming `@OptionalOrValid` annotation.

[2016-03-10 15:05] ragunathjawahar commented on #127
Right, we need to do something like [this](https://github.com/ragunathjawahar/android-saripaar/blob/v1/src/com/mobsandgeeks/saripaar/Rules.java) in v2. Feel free to send a PR. Follow the AOSP style guide for code style and look into the existing rules to see how existing rules are implemented.

[2016-03-10 15:19] ragunathjawahar commented on #142
Hmmm... with Google bringing in the Jack compiler I think this needs to be fixed. I'll give it some thought and get back on this.

[2016-03-10 16:09] eduardostuart commented on #143
Awesome! Thanks @ragunathjawahar

[2016-03-10 16:54] eduardostuart commented on #143
Can I suggest something?

Maybe.. a param is better than another annotation.

[code]
Where:
"sometimes" check if password is not empty. If empty, check if is a valid password.

[2016-03-10 18:09] lepipele commented on #143
For what is worth - I see that lots issues opened here are somewhat related to issue I now participate in:

https://github.com/ragunathjawahar/android-saripaar/issues/127

Basically, what we all are asking for is ability to _change_ rules based on certain set of conditions. Now @ragunathjawahar I STRONGLY advise you against going with MORE attributes, because in a nutshell what you are doing is cr

[2016-03-10 18:11] lepipele commented on #127
OK, let me see what I can do... I'll try to send first PR in as something small so that you can sign off on coding style and direction - the last thing I want is to spent lots of time on this and then you just reject it ;).

[2016-03-11 02:35] ragunathjawahar commented on #127
That's the way to go :+1:

[2016-03-15 10:34] nguyenkhiem commented on #115
up

[2016-03-29 10:54] phanii opened #144 "Theme problem in saripar"
i faced a strange issue with saripar. im using **Theme.AppCompat.Light** theme. When i validate the form the errors are not visible properly. help me out.

[2016-03-30 14:25] ragunathjawahar commented on #144
Hi, this isn't an issue with Saripaar. Please check SO for similar issues with the theme.

[2016-03-30 14:25] #144 closed

[2016-04-09 14:52] rohanmahale opened #145 "Latest Version : Add Rules programmatically"
I'm trying to add this as a dependency using gradle. What is the latest version?

Also, If I need to add rules programmatically for specific views, how do I go about it?

[2016-04-12 16:35] ragunathjawahar commented on #145
You can always check the [releases](https://github.com/ragunathjawahar/android-saripaar/releases) tab for the latest version. To add rules programatically please follow this [issue](https://github.com/ragunathjawahar/android-saripaar/issues/127).

[2016-04-12 16:35] #145 closed

[2016-04-12 16:41] ragunathjawahar commented on #137
@MickaelRomaniello you are on the right track, check this [example](https://github.com/ragunathjawahar/android-saripaar/blob/master/saripaar/src/main/java/com/mobsandgeeks/saripaar/adapter/TextViewIntegerAdapter.java). After you have created your adapter you should register it by doing the following,

[code]

[2016-04-12 16:41] #137 closed

[2016-04-12 16:43] ragunathjawahar commented on #129
@draskosaric how are you displaying error messages? Did you try @rzhik's solution?

[2016-04-12 16:44] #140 closed

[2016-04-12 16:55] ragunathjawahar commented on #142
Try excluding your adapter from obfuscation.

[2016-04-20 14:01] draskosaric commented on #129
Yes, I did, but with no luck. Anyway I used custom EditText control and solved the problem that way.

[2016-04-21 06:13] ragunathjawahar commented on #129
OK great! Closing this because this isn't related to the library.

[2016-04-21 06:13] #129 closed

[2016-04-22 06:26] TuxApple commented on #57
@eternalBlast

`  @NotEmpty(sequence = 1, messageResId = R.string.must_filled)
    @Length(sequence = 2, min = 4, messageResId = R.string.min_char)
    @Bind(R.id.name)
    protected EditText mFullnameText;`

and in method onValidationFailure using

`@Override
    public void onValidationFailed(List<ValidationError> errors) {
        for (ValidationError error : errors) {
            View view = e

[2016-04-23 19:41] carmas123 commented on #132
+1

[2016-04-25 05:32] akashk92 opened #146 "Non Zero Validation"
How do I add non zero validation on editText field?

[2016-05-06 05:53] kim24 opened #147 "How to "internationalize" message error"
How can we make the error message in other languages because we can't call getString(R.string.message) in annotations

[2016-05-06 06:40] ragunathjawahar commented on #147
Use `messageResId` instead of `message`.

[2016-05-06 06:40] #147 closed

[2016-05-12 01:17] paulc8712 commented on #135
+1, this is was the first thing that I was expecting when I looked at this library.
The example by @rephiscorth is basically what I am attempting to do.

[2016-05-16 06:32] sunil19822701 opened #148 "Error in custom rule on proguard"
I have created my custom rule for validating field if isn't empty
here is custom rule code
code for class http://pastebin.com/FMhwCzAD
code for interface http://pastebin.com/NSs92LAw
activity code http://pastebin.com/pKJHphMv
proguard rules

[code]

if i keep pro guard disable it works fine on proguard
I am getting error the following error

[code]

[2016-05-21 07:24] JehandadK commented on #143
I believe creating a rule is easy programmatically, could you perhaps share some examples of what you mean.

P.S. New user of saripaar. Love It!

[2016-05-21 07:25] JehandadK commented on #146
What do you mean by non zero validation, could you share an example of what will pass such validation vs what wont pass?

[2016-05-27 19:31] forrestbice commented on #128
@ragunathjawahar related question:

Right now you can provide a custom message via:

`@Password(min = 8, scheme = Scheme.ALPHA_NUMERIC, message = "Your Custom Message"`

Is it possible to utilize a localized string? I want to access resources in my `strings.xml` via something like:

`@Password(min = 8, scheme = Scheme.ALPHA_NUMERIC, message = R.string.your_custom_message`

[2016-05-27 19:38] forrestbice commented on #128
My apologies, I missed this comment (https://github.com/ragunathjawahar/android-saripaar/issues/117#issue-111121725) which indicates this is possible via messageResId!

[2016-06-08 19:16] draskosaric opened #149 "How to change error message for specific view and specific rule?"
Hi,

Let's say I have a following code:

`@BindView(R.id.edit_text_email) @Email EditText editTextEmail;`

Believe it or not, I can have message for this rule after `onCreate`, since client's request is that I must load all strings from some Rest API (I know, I know, just imagine how I feel about it...).

So, I wish **in code** to get validation rule from view and set its message when I wish to. H

[2016-06-08 20:04] draskosaric commented on #149
Just realized that I can do that pretty easily in `onValidationFailed` method:

    @Override
    public void onValidationFailed(List<ValidationError> errors) {
        for (ValidationError error : errors) {
            View view = error.getView();
            String message = error.getCollatedErrorMessage(this); // <-- I can change this the way I want!!!
            // Display error messages ;)

[2016-06-08 20:04] #149 closed

[2016-06-14 08:34] BenjaminZaiser commented on #130
Hi @ragunathjawahar I'm also interested in this feature; would be great if you could implement it or at least give me a timeframe, when it will be on the master.
Thanks.

[2016-06-15 09:19] mathieusachet commented on #142
Hi, I've the same problem here. It works in debug but proguard in release, returns same error than @Ciano91.

[2016-06-17 08:31] kizzlord opened #150 "wrong adapter assigned to validator in onFocusChange"
Here's what I wrote:

[code]

And the log reads:

[code]

This would be correct if this wouldn't be for the `text1` `EditText` but for one of the `int`s.

So what am I missing? It seems the `validator` is using the `Adapter` that was last registered, which might be the `TextViewIntegerAdapter` so I tried to explicitly register different `ViewDataAdapter`s for different validators like this:

[code

[2016-06-22 05:53] ragunathjawahar commented on #130
@BenjaminZaiser this week :)

[2016-06-22 10:06] ragunathjawahar commented on #146
@akashk92 An example would be appreciated.

[2016-06-22 12:01] akashk92 commented on #146
Example For Non Zero Validation:

@NonZeroValidation
public int slots;

slots never should be zero or should be greater than Zero

[2016-06-22 13:04] #130 closed

[2016-06-22 13:05] ragunathjawahar commented on #130
Use `validator.validateInvisibleViews(true);`, pending release.

[2016-06-22 15:24] ragunathjawahar commented on #138
Yes, like @gauravsak said. Use the `message` or `messageResId` attribute to specify your own messages.

[2016-06-22 15:24] #138 closed

[2016-06-22 15:28] ragunathjawahar commented on #143
@lepipele I'm against attributes as well. Follow #102 for updates.

[2016-06-22 15:28] #143 closed

[2016-06-22 15:29] #75 closed

[2016-06-22 15:30] ragunathjawahar commented on #108
Duplicate of #56.

[2016-06-22 15:30] #108 closed

[2016-06-22 15:31] ragunathjawahar commented on #74
Duplicate of #102.

[2016-06-22 15:31] #74 closed

[2016-06-22 15:34] ragunathjawahar commented on #117
Follow #80. Closing as duplicate.

[2016-06-22 15:38] ragunathjawahar commented on #134
Use 3 different form controller classes to group views and then validate them.

[2016-06-22 15:38] #134 closed

[2016-06-24 12:36] ragunathjawahar commented on #72
https://travis-ci.org/ragunathjawahar/android-saripaar

[2016-06-27 17:26] tir38 opened #151 "Validator constructor should warn if not passing in fragment or activity"
in Validator class:

[code]

If I pass in something other than Fragment or Activity I'll eventually get NPE when trying to access a ValidationContext:

[code]

I see two options:

1. the simple option is to just warn me with specific RTE

2. make this constructor private and overload with constructors that take in fragment and activities:

[code]

[2016-06-29 17:17] ragunathjawahar commented on #151
@tir38 I notice a missing test case. Could have slipped through it.

[2016-06-30 03:26] ragunathjawahar commented on #122
Did you register `CpfCnpjRule` using `validator.registerAnnotation(CpfCnpjRule.class)`?

[2016-06-30 04:23] mcassiano commented on #122
@ragunathjawahar Ha! That did it! But I had to do it a little differently:

[code]

[2016-06-30 05:23] ragunathjawahar commented on #122
@mcassiano You're right, that's a static method :)

[2016-07-01 02:47] tir38 commented on #151
So what do you propose?

[2016-07-01 02:49] tir38 commented on #151
I noticed that this is causing another problem. By not supporting support fragments, the constructor may never create `mValidationContext`, which will NPE when you get to:

[code]

[2016-07-08 11:52] marcin-jelenski opened #152 "Stereotype annotations for grouping"
Hi,

I wonder if it is possible to add
`@Target({ElementType.FIELD, ElementType.ANNOTATION_TYPE})`
instead of
`@Target(ElementType.FIELD)`

to standard library annotations (eg. NotEmpty, Passwrod, Email).

It would be nice to create "stereotype annotations" for grouping repeatable parameters, like

[code]

Best regards,
Marcin

[2016-07-11 04:46] ragunathjawahar commented on #152
@marcin-jelenski This is an interesting idea. Let's bring it in for `2.1.0`.

[2016-07-11 04:49] ragunathjawahar commented on #136
Type verification has to be deferred to support lambda expressions.

[2016-07-21 06:13] stevenay opened #153 "Do setError automatically (or configurable)"
I know the developers use different ways to show the error message to the user. But currently most of the developers use `setError() `method as default.

So it will be good if the library show the error messages with `setError()` automatically on default when the Validation failed. Imagine we can also turn off this feature by passing specific argument to `validate()` method like **async** feature.

[2016-07-21 07:58] stevenay opened #154 "Immediate Mode on Field Level"
Let's say we have the following validation.

[code]

And we don't fill both of these fields in the form.

Then, the validator will show the error message for @NotEmpty of the password and @NotEmpty of the DateofBirth. But the validator won't show the error message for @Password of the password field.

I mean Immediate Mode on each field level validation rather than the form level.

[2016-07-21 08:35] ragunathjawahar commented on #154
@stevenay Yep, makes sense. That should be the way to go.

[2016-07-21 09:25] stevenay commented on #154
@ragunathjawahar Thanks for response. I think this feature isn't available in the current release. So hope to get this feature in the future releases. Thanks.

[2016-07-25 19:20] robinsingh-bw commented on #141
Is there any way to do this without modifying the library (or waiting for a PR)?

[2016-07-26 04:49] ragunathjawahar commented on #141
You could use the `messageResId` attribute for localization. This issue is for the default error messages.

[2016-07-26 14:09] robinsingh-bw commented on #102
Wondering the same, any news on the optional annotation?

[2016-07-26 16:11] meNESS commented on #102
@robinsingh-bw Unfortunately @ragunathjawahar (the owner) doesn't work on his great library anymore.

[2016-07-27 01:27] robinsingh-bw commented on #141
Is it possible to specify a default messageResId for the different validators instead of adding it manually everywhere?

[2016-07-27 02:09] ragunathjawahar commented on #141
@robinsingh-bw There is a related issue https://github.com/ragunathjawahar/android-saripaar/issues/92, I am still thinking about the best way to do this. Inputs are welcome.

[2016-07-27 05:03] ragunathjawahar commented on #150
@kizzlord

1. How did you create a `EditIntValidator`?
2. What was your input in the `EditText` field?

[2016-07-27 05:24] ragunathjawahar commented on #151
@tir38 Can't reproduce, checked with native and support `Fragment`s. `mValidationContext` is always initialized.

Please add steps to reproduce. Closing this issue till then.

[2016-07-27 05:24] #151 closed

[2016-07-27 05:30] ragunathjawahar commented on #125
@zatyabdullah Dropdown validation is already available. Use the `@Select` annotation.

[2016-07-27 05:31] ragunathjawahar commented on #102
On commit https://github.com/ragunathjawahar/android-saripaar/commit/b8626e97794fb2b797b33679b00453fb14320bfe, awaiting release.

[2016-07-27 05:31] #102 closed

[2016-07-27 12:10] ManishPatiyal opened #155 "how to use Saripaar with DatabindingUtils in android"

[2016-07-27 12:23] robinsingh-bw commented on #141
It is probably an overkill to force a default messageResId in a lib (which would have been ideal). My suggestion would be something simpler such as:
     validator.setDefaultMessage(final Class<? extends Annotation> annotation, String message)
Then we can just setup default messages for all validators in a utility class or something.

[2016-07-28 18:17] tir38 commented on #151
Ok I might not be able to reproduce that second part about support fragments, but I think the initial problem still stands. Constructor shouldn't take in `Object` if it can't truly handle any object.

[2016-07-29 05:33] ragunathjawahar commented on #151
We have the `Object` constructor to allow usage within controllers. If no rules are found (requires at least one `View`, and views have `Context`) an exception is thrown. Check these lines - [Validator.java](https://github.com/ragunathjawahar/android-saripaar/blob/master/saripaar/src/main/java/com/mobsandgeeks/saripaar/Validator.java#L493-L496) for clarification.

[2016-07-29 05:39] ragunathjawahar commented on #151
Here's a rough [example](https://github.com/ragunathjawahar/android-saripaar/blob/master/saripaar-tests/src/main/java/com/mobsandgeeks/saripaar/tests/ui/QuickRuleOnlyControllerActivity.java#L49-L84).

[2016-08-01 16:50] tir38 commented on #151
Hmm ok. I should have kept track of what I was specifically doing that caused my initial problem. I see the benefit of taking in an Object.

[2016-08-01 17:08] ragunathjawahar commented on #151
@tir38 Feel free to bring up any concerns that you may have.

[2016-08-02 08:40] monicalabbao-rogomi opened #156 "com.mobsandgeeks.saripaar.exception.SaripaarViolationException: 'com.monicalabbao.customvalidator.MobileNumber' requires the 'sequence' attribute."
I created a custom annotation for validating a mobile number:

`ProfileValidator.class`

    public class ProfileValidator extends Validator {

        public ProfileValidator(Object controller) {
            super(controller);
            registerAnnotation(MobileNumber.class);
        }
        @Override
        public void validate() {
            super.validate();
        }

    }

`MobileNumb

[2016-08-02 09:04] ragunathjawahar commented on #156
The attributes `message`, `messageResId` and `sequence` are mandatory when you declare custom annotations.

[code]

[2016-08-02 09:04] #156 closed

[2016-08-16 04:48] ashraffouad commented on #102
I hope this to be released soon, release 2.1.0 is still having 4 open issues.

[2016-08-19 03:35] smabbas1234 opened #157 "How to use saripaar with Butter Knife"
How to use saripaar with Butterknife - http://jakewharton.github.io/butterknife/

[2016-08-19 03:54] ragunathjawahar commented on #157
@smabbas1234 It just works. Just add the `@BindView` annotation on your view fields.

[2016-08-19 03:54] #157 closed

[2016-08-20 17:01] riinav commented on #102
@ragunathjawahar Is is possible to release Snapshot build with Optional Annotation, before 2.1.0?

[2016-08-28 04:02] uchennafokoye commented on #128
Hi, I was wondering how this was addressed. I can't find any information on how to do multiple validation messages for different problems. Thanks!

[2016-08-31 23:15] gmann1 commented on #127
Hey Ragunath,

I'm liking this library, but are there any updates on this issue?

[2016-09-03 19:38] davidleonardo9 opened #159 "Saripaar v2.0.3 issue in Android 4.4"
I'm trying to use saripaar 2.0.3 on Android 4.4 but I have this error when I instantiate the validator:

[code]

I have this exception: `java.lang.VerifyError: com / mobsandgeeks / saripaar / Validator`

I don't know what is the problem and before that the messages:

[code]

[2016-09-07 09:57] Ramanan-MaG opened #160 "How to use saripaar with android support libraries"
I' m trying to use saripar with TextInputLayout, I annotated edit text of that textInputLayout and here comes the problem in setting error message to that field.

[2016-09-08 07:42] RethinavelPillai opened #161 "How to validate only 5 selected fields for a button click?"
Hello Ragunath,
        I am really happy to use your library. It really avoids boilerplate codes. I have a situation here.

See, Say for ex. I have 10 Edittext in an activity. I added attributes for all the fields. I want to validate first 5 fields on some X button click(rest 5 fields are hidden here). After that i hide that first 5 Edittexts and again rest 5 fields has to be validated on the sam

[2016-09-14 06:39] sneps85 opened #162 "Make validateAfter() possible"
I have a layout:
- email
- submitemail
- phone
- submitphone

i need to validate email only on submitemail press and phone only on submitphone press.

How to do that? What is the difference between validateBefore() and validateTill()?

[2016-09-14 07:38] sneps85 opened #163 "Make fraction optional on Digits rule"
Please add the possibility to disable the Digits rule fractions

[2016-09-22 01:18] eumagnun opened #164 "Error in default e-mail validation"
This is a valid e-mail:

test@oft.plus

But saripaar show as inválid.

[2016-09-25 17:05] shkhaksar opened #165 "multiply rules on Same View"
i have one edit text, i want to validate it using two validator rules, but i want to get success callback when only one rules getting true.
in my edit text user can input Phone Number or Email.
BTW thank you for this awesome Lib.

[2016-09-26 05:59] sergeymild commented on #132
I have same problem, but with Jackson. Have model with @JsonIgnoreProperties(ignoreUnknown = true) annotation, and then i compile project i have error Error:(11, 1) This annotation is not applicable to target 'class'

[2016-09-28 01:16] rjoncontract commented on #132
@sergeymild sample code please.

[2016-09-28 01:17] rjoncontract commented on #165
@shkhaksar You have to use a custom rule (quick rule or annotation) at the moment. There will be support for the `@Or` annotation in the future.

[2016-09-28 01:18] rjoncontract commented on #164
@eumagnun Will upgrade to the latest commons validator code base or will add it manually.

[2016-09-28 12:33] eumagnun commented on #164
Sorry friend,  i don't understand..
Who will upgrade it?  I can do it in my project?

[2016-09-29 04:04] rjoncontract commented on #164
You can make the change if you clone the project and build it yourself. Or else you may have to wait till I push the changes.

[2016-10-03 06:16] ben-xx opened #166 "@Pattern annotation not calling PatternRule.isValid()"
[code]

(note: using ButterKnife for binding widgets)

@NotEmpty annotation calls isValid() in NotEmptyRule.java, but @Pattern never calls isValid() within PatternRule.java.

Using 2.0.3

[2016-10-03 08:20] varunvairavan commented on #160
@Ramanan-MaG Did you find a solution?

Right now we are calling setError on the EditText. I want to set the error on the TextInputLayout. How do we do that?

[2016-10-03 13:06] varunvairavan commented on #135
@ragunathjawahar Hey, Is there any way to achieve this behaviour?

[2016-10-03 21:57] ben-xx commented on #166
Sorry, looks like the issue was on my end with Android Studio 2.2 Instant Run not picking up Annotation changes in .java file.

[2016-10-03 21:57] #166 closed

[2016-10-05 12:07] BenjaminBihr commented on #160
+1
Didn't work on support librairies 24+

[2016-10-11 16:46] PranKe01 opened #167 "New Saripaar Version?"
Hi,
when will the new Saripaar version be released? The version 2.0.3 is more than a year old :|

[2016-10-14 13:20] sosite commented on #142
I have the same problem. @ragunathjawahar hint helped me so thanks 😉

My proguard config (for saripaar) now looks like:
[code]

[2016-10-14 14:00] maxbax opened #168 "Text validation not visible"
I'm using your library to check if some fields are not empty. With the same annotation (@NotEmpty(messageResId = R.string.error_field_required)) in a normal TextInputEditText field the popup (black with white text) appears, but in on other  TextInputEditText (inside a toolbar) I can see a black popup without text (or with black text). How can I force the style of the popup trying to change colors?

[2016-10-17 07:42] venkatesh3venky opened #169 "EditText Error icon not visible in Fragment"
In onValidationFailed Method, EditText failed to set Error icon in Fragment in SDK Version 24(Android studio 2.2.1)

[2016-10-21 05:40] rjoncontract commented on #135
@varunvairavan I haven't yet figured out a way to do this in a clean way. Also, having two different APIs that do the same thing is a code smell.  Currently, `validator.validate()` is synchronous and `validator.validate(true /* async */)` invoke the same listener to notify the result. Let me know if you have any ideas.

[2016-10-21 05:43] rjoncontract commented on #142
This is a ProGuard configuration issue. Will take care of this by automatically excluding data adapters in the next release.

[2016-10-21 05:45] rjoncontract commented on #169
Hi, Saripaar does NOT set any error messages for you. It just tells you what rules failed for a given view. Displaying error messages to users is totally under your control.

[2016-10-21 08:29] molexx commented on #135
If an Observable is returned then the question isn't sync vs async but whether the callback is called or not.

This could be handled by a second parameter to `validate()` which defaults to `true`, or could be an additional method named something like `validateNoCallback()`.

[2016-10-22 09:51] rjoncontract commented on #168
@maxbax Saripaar doesn't display error messages. Please check SO. Also, adding screenshots when dealing issues helps when discussing UI issues.

[2016-10-22 10:02] rjoncontract commented on #135
Observables will not invoke callbacks, they will be used like any other RxJava operators. When it comes to the current scenario, there won't be different ways to do the same thing. Because there will always be trade-offs.

Let's say, if you want to continuously validate the form whenever one of the input field changes, you can add appropriate event listeners (`TextWatcher` ,`OnItemSelectedListener

[2016-10-22 10:12] rjoncontract commented on #160
Saripaar, is very extensible. It can work with any view, even custom views. All you need to do is to supply an adapter.

[code]
This adapter should be registered to the `Validator`.

[code]

PS: You should create appropriate adapters for the data type that you are dealing with. You may need adapters that return `Double` and `Integer`. Reading through the stack trace will be very helpful, because i

[2016-10-22 11:29] molexx commented on #135
I'm not suggesting removing the existing async ValidationListener implementation, I'm requesting another way which works sync and gives the calling code direct access to the errors.

We're discusing how best to add this optional functionally whilst being non-breaking and keeping the API neat.

Either `List<ValidationError>` or `Observable<List<ValidationError>>` (doesn't have to be an RxJava Obser

[2016-10-26 07:02] maxbax commented on #168
Thanks for the reply. I think there is a style problem. I attach two screenshot of the same app. The wrong style (text color) is in the actionbar edit text. How can I change or force that color?
Thanks

![screenshot_20161026-085350](https://cloud.githubusercontent.com/assets/7492935/19716221/df961618-9b5a-11e6-8f9f-34590bbb6060.png)
![screenshot_20161026-085509](https://cloud.githubusercontent.com

[2016-10-26 13:26] parthjani7 opened #170 "NullPointerException and Activity crashes"
String Fullname,Email,Pass;
    @NotEmpty
    @Min(value=3,message = "Please Enter Valid Name")
    EditText _txtFullname;
    @Email
    EditText _txtEmail;
    @NotEmpty
    @Password(min = 6, scheme = Password.Scheme.ALPHA_NUMERIC_MIXED_CASE_SYMBOLS)
    EditText _txtPass;
    Button _btnRegister;
    Validator validator;
    @Override
    protected void onCreate(Bundle savedInstanceState) {

[2016-10-26 13:50] parthjani7 commented on #170
solved. never mind. it was my mistake.

[2016-10-27 08:18] cendelinova opened #171 "TextInputLayout + instant validation"
Hello,
I am struggling how to set error to textinputLayout using saripaar. I registred adapter.

`validator.registerAdapter(TextInputLayout.class,
                new ViewDataAdapter<TextInputLayout, String>() {
                    @Override
                    public String getData(TextInputLayout flet) throws ConversionException {
                        return flet.getEditText().getText().toStr

[2016-10-28 12:19] RimonGazi opened #172 "UnsupportedOperationException"
[code]

[code]

[2016-10-29 18:26] ragunathjawahar commented on #135
The listener is either called synchronously or asynchronously. Depends on how and which validation method is called. In the meantime, you can use the following snippet to get the behavior that you are looking for.

[code]

Once you have the class in-place, you can do this,

[code]
This should cover it for the previously mentioned use-cases.

[2016-10-29 18:32] #169 closed

[2016-10-29 18:36] ragunathjawahar commented on #168
I have no idea, please check these SO posts,

http://stackoverflow.com/questions/14413575/how-to-write-style-to-error-text-of-edittext-in-android
http://stackoverflow.com/questions/14127710/change-background-of-edittexts-error-message
http://stackoverflow.com/questions/6745577/which-theme-attribute-changes-the-text-color-of-an-edittexts-error-message

[2016-10-29 18:36] #168 closed

[2016-10-29 18:37] #170 closed

[2016-10-29 18:41] ragunathjawahar commented on #153
Elevating this to the framework level wouldn't be good. A form may have different controls besides `EditText` and different developers have different approaches. There is no "silver" bullet to solve this problem. The best way to do this would be to have a utility method in the project so that error display can be handled in a unified way across the entire application.

[2016-10-29 18:41] #153 closed

[2016-10-29 18:42] ragunathjawahar commented on #159
Hi, are you still facing this issue?

[2016-10-31 14:17] viliamvolosv opened #173 "Incorrect email validation"
`    @NotEmpty(messageResId = R.string.error_email_empty, sequence = 0)
    @Email(messageResId = R.string.error_email_invalid, sequence = 1)
    @InjectView(R.id.text_input_layout_email)
    @Order(1)
    TextInputLayout emailLayout;`

Email below pass like a correct email address
test@com
test@gm
test@gl

[2016-10-31 14:22] viliamvolosv commented on #173
saripaar:2.0.3

[2016-11-01 18:17] ErikKramli commented on #160
Hey! I'm using the 2.0.3 release of this lib, unfortunately the _containsOptionalValue_ is not bundled in the _ViewDataAdapter_ interface.
Are you planning to make a new releae any time soon?

[2016-11-02 11:32] ravidsrk commented on #142
@sosite  I am also facing the same issue.
I tried adding
[code]
Still facing the same issue.

 @ragunathjawahar @rjoncontract Any updates on this issues?

[2016-11-02 11:41] sosite commented on #142
@ravidsrk Hah, I hope that you change `com.your.package.validation` to your package name? 😉

[2016-11-02 11:43] ravidsrk commented on #142
@sosite Offcourse i have the package name :)
`-keep class com.example.android.utils.TextInputLayoutAdapter {*;}`

[2016-11-06 20:29] cendelinova commented on #118
Hi,
I am new to Android. Could you provide more information about it? I would like to use your library to validate my inputs and use Textinpulayout. I am not sure how to set error under the input. Now I am validating next to the input which I do not like it.

`  validator.registerAdapter(TextInputLayout.class,
                new ViewDataAdapter<TextInputLayout, String>() {
                    @Ov

[2016-11-14 07:27] abeemukthees opened #174 "How to use with butterknife @BindViews"
Hi, @ragunathjawahar. Thanks for the awesome library. It is working perfectly with ButterKnife @BindView annotations. But how to use saripaar when using :
[code]

[2016-11-14 17:06] Sigvent commented on #173
Same issue detect there with test@.com

[2016-11-15 09:33] rjoncontract commented on #174
@abeemukthees, saripaar doesn't work with `@BindViews`, it is not meant to.

[2016-11-16 00:46] #174 closed

[2016-11-16 21:49] carlastabile opened #175 "Error message not shown in the right place"
Hi guys! I'm having an issue with the lib. This is not the first app where I actually use Saripaar and its weird. The error message has a weird padding or margin. Also when the keyboard is out the text disappears.

I'm on Android 6.0.1
Saripaar V2.0.3

**Screeshots**
![screen shot 2016-11-16 at 10 45 41 pm](https://cloud.githubusercontent.com/assets/2745491/20367127/6feb66ec-ac4e-11e6-815d-f92b192

[2016-11-17 09:17] carlastabile commented on #175
The only difference I can tell is that the layout where I have the `username` and `password` `EdittText` is included in the layout of the activity. Could this be the reason? if so, why does this happen?

[2016-11-17 10:39] carlastabile commented on #175
Well apparently this seems to be a problem with the Android Platform.

I gave up on using only EditText and decided to go ahead and use TextInputLayout so the error messages are shown in a nicer way.

Thanks to @ragunathjawahar for replying via email!

[2016-11-17 10:39] #175 closed

[2016-11-18 04:02] ericn37 commented on #35
Any update of this @ragunathjawahar ? :D

[2016-11-18 05:38] rjoncontract commented on #35
@ericn37 Isn't [`DefaultViewValidatedAction`](https://github.com/ragunathjawahar/android-saripaar/blob/master/saripaar/src/main/java/com/mobsandgeeks/saripaar/DefaultViewValidatedAction.java) taking care of this already? You can also supply your own `ViewValidatedAction` to the `Validator.setViewValidatedAction(viewValidatedAction)` method.

[2016-11-21 10:03] LinkOut commented on #141
Any news about translations?

[2016-11-21 17:18] #171 closed

[2016-11-27 09:30] ragunathjawahar commented on #167
I don't have a timeline on this. The latest snapshot `2.1.0-SNAPSHOT` is available in the snapshot repo (uploaded today).

[2016-11-27 09:30] #167 closed

[2016-11-27 09:32] ragunathjawahar commented on #4
Saripaar will remain to be a UI validation library for the foreseeable future.

[2016-11-27 09:32] #4 closed

[2016-11-27 09:32] ragunathjawahar commented on #173
Duplicate, see #115

[2016-11-27 09:32] #173 closed

[2016-11-27 09:35] ragunathjawahar commented on #135
Closing because, there hasn't been any activity on this thread since the last post.

[2016-11-27 09:35] #135 closed

[2016-11-27 09:40] ragunathjawahar commented on #172
The error message is clear. You have to register a new `ViewDataAdapter` that returns a `Boolean` value. Check this [source](https://github.com/ragunathjawahar/android-saripaar/blob/master/saripaar/src/main/java/com/mobsandgeeks/saripaar/adapter/RadioButtonBooleanAdapter.java) to see how to write a new `ViewDataAdapter`.

You must also register the adapter to your `Validator` using `validator.regi

[2016-11-27 09:40] #172 closed

[2016-11-27 09:43] ragunathjawahar commented on #161
You should group your view using different controller classes and use a `Validator` per controller. See the discussion in issues #104  and #134.

[2016-11-27 09:43] #161 closed

[2016-11-27 09:45] ragunathjawahar commented on #159
Closing due to inactivity.

[2016-11-27 09:45] #159 closed

[2016-11-27 09:49] ragunathjawahar commented on #162
See my comment to issue #161.

`validateBefore()` and `validateTill()` are supposed to be used with ordered fields (Your views must use the `@Order` annotation). `validateBefore(View)` will validate fields that are before the current view, `validateTill(View)` will validate all the fields till the current view.

[2016-11-27 09:49] #162 closed

[2016-11-27 09:50] ragunathjawahar commented on #165
Duplicate #61

[2016-11-27 09:50] #165 closed

[2016-11-27 13:00] ragunathjawahar commented on #102
@riinav `2.1.0-SNAPSHOT` available with this feature.

[2016-12-04 03:24] ericn37 opened #176 "How to set order programmatically?"
My `EditText` views are generated at runtime, how can I add order to them?

At the moment, I'm handling that myself use `setTag(Integer)` and use the views' tags as the orders

[2016-12-10 08:37] segunmicheal27 opened #177 "Print Error Message Sequencialy"
I am trying to print the error validation on the EdithText like this:
@NotEmpty
@Email
@BindView(R.id.edith) EdithText mEdith;

@NotEmpty
@Lenth(min = 6, Message= "Password must be 6 Characters")
@Password(min = 6, scheme = Password.Scheme.ANY)
private EditText passwordEditText;

but all the error just show once instead of one after the other e.g
if the EditText field is not empty
it should print

[2016-12-15 05:31] amanthaIsuru commented on #148
Hope you are building the signed apk and minfiy the project in the android manifest. When you are minifying the project it can't identify the custom classes you have created. The cause is  you have used the OptionalAddressRule.class file directly somewhere in your code. So in the proguard you have to eliminating the custome classes by using this

-keep class <your custom class>.** { *; }

[2016-12-22 13:44] BenjaminBihr commented on #160
Fix with the new support library version (25.1.0)

[2016-12-27 07:13] pumatus opened #178 "proguard?Thx"
libary proguard?Thx

[2016-12-27 07:14] #178 closed

[2016-12-29 10:52] anasanzari opened #179 "How to validate a Spinner?"
Is there way to validate a spinner, ie to check whether user has chosen a particular value other than the default one?

[2016-12-29 16:50] #179 closed

[2016-12-30 12:34] joomsite opened #180 "How to validate only one field"
In my form not all fields are mandatory.

I want to validate one field only if another field is populated. How can I do this ?

I have following 3 validations on my form.

@NotEmpty(messageId = R.string.validation_vehicle_registration,order = 1)
EditText vehicleNoEditText;

@NotEmpty(messageId = R.string.validation_puc_number)
EditText pucNoEditText;

@DateInFuture(datePattern = "dd-MM-yyyy",allow

[2016-12-30 13:49] edsilfer commented on #132
+1

[2016-12-31 13:55] Fahad-alkamli commented on #180
I worked around this by creating an inner class and i do the validation inside the inner class by giving it a reference to the views something like this:

[code]

Note: notice that I put the annotations in the inner class only.
Hope this helps.

[2016-12-31 14:00] Fahad-alkamli commented on #177
I had a similar issue, seems like the validation should stop after the first error but the library keeps checking for other annotations on the same view which leads to the problem you mentioned.

[2017-01-09 12:51] IvanSop commented on #79
Hi, I am trying to achieve, I believe the same thing, to validate single field that just lost focus, and this doesnt help me.
I have several inputs
Input1
Input2
Input3
If I annotate them in @Order (1,2,3) and set mode immediate.
If they are all invalid and user for example focuses Input3, then Input2, only Input1 will show as invalid
using validateTill(), but I need just input3 to show as invalid

[2017-01-12 14:33] Sigvent commented on #180
Hi @joomsite

You can use the rule [@Optional](https://github.com/ragunathjawahar/android-saripaar/blob/master/saripaar/src/main/java/com/mobsandgeeks/saripaar/annotation/Optional.java)

[2017-01-16 10:17] Sigvent opened #181 "Validation into a listview"
Hi guys,

I spend so much time to find a solution about my problem :

I have a ListView and I have some fields in the header and a button "next" in the footer of my listview.
So when I click on "next", i launch the validator.validate(). It's always successful because the getLastView() method in the library get only the footer view instead of the main view (i.e. my listview with header + footer). T

[2017-01-16 17:19] segunmicheal27 commented on #177
cool thanks @Fahad-alkamli and I wish to add to the class lib.

[2017-01-16 17:19] segunmicheal27 commented on #177
to solve the issue

[2017-01-17 03:12] rjoncontract commented on #177
You should annotate all the fields with the `@Order` annotation. Then set `validator.setValidationMode(Mode.IMMEDIATE)`.

When this is done, the validation will stop at the first failure.

[2017-01-17 18:30] #177 closed

[2017-01-17 23:51] segunmicheal27 commented on #177
Thanks @rjoncontract  I will try it on my IDE now

[2017-01-20 04:18] MahmoudAlyuDeen commented on #141
Localized error messages would really complete this already awesome library. I can help with Arabic translation.

[2017-01-22 00:03] segunmicheal27 commented on #177
@rjoncontract the suggestion actually works fine but i am having an issue again in ordering error rules within sequence rules it print all the error at the same

here is the code

so mNameEditText and other field where i have sequence  just print all the error at the same time, please i will love to how can i solve this problem

[2017-01-23 04:44] FernandoX7 opened #182 "This is considered a valid email 'john@gmail' without the .com"
Just like the title says, when validating an email with
`    @NotEmpty
    @Email`

and you use an email without the .com part, it considers it a valid email

[2017-01-28 09:41] xrnd commented on #155
Hi has anyone found the solution as how can we use saaripar with data binding ?

[2017-02-17 07:45] engincancan opened #183 "Add An Option On Credit Card Validation"
Add an option to check only Luhn Algorithm on unknown card providers like;

- JCB 3530111333300000

- Australin Bank Card 5610591081018250

- enRoute 214921265385350

- Voyager 869963680072237

- Visa(13) 4024007113505

Examples can be found [here](http://www.paypalobjects.com/en_US/vhelp/paypalmanager_help/credit_card_numbers.htm) and [here](http://www.getcreditcardnumbers.com/);

[2017-02-21 12:54] luna-vulpo commented on #76
so it's added or not?

[2017-02-21 13:05] luna-vulpo commented on #132
any progress?

[2017-02-23 15:20] Cherubyx commented on #182
Also considers partial domain names to be valid.

[code]

Validates the following:
[code]

[2017-03-03 07:50] amanthaIsuru commented on #93
Great explanation. thanks @LuisBurgos

[2017-03-14 15:38] byronsliger commented on #155
In my case I created my own Rules, even rules exists in API,  for example to @NotEmpty I created a NotEmptyRule with the same logic:
code of @NotEmpty annotation saripaar

[code]

and this is my new rule:

[code]

then, I addes my rule to validator:

`validator.put(binding.editNumeroServicioMedico, new NotEmptyRule(true));`

I hope this can help you.

[2017-03-16 20:26] OsmundWare opened #184 "I can't change the confirm password message"
public class MainActivity extends AppCompatActivity implements Validator.ValidationListener {
        private Button registrar;

        @NotEmpty (message = "Este campo es requerido")
        @Password (min = 6, scheme = Password.Scheme.ALPHA_NUMERIC_MIXED_CASE)
        private EditText password1;

        @NotEmpty (message = "Este campo es requerido")
        @ConfirmPassword (message = "passwo

[2017-03-25 12:20] #148 closed

[2017-03-27 02:10] dashracer opened #185 "Validation in dynamic form in ExpandableListView adapter"
Hi,

I'm creating an expandable list view with custom adapter.
Each row has two Edit text and a button.

Is there any way to validate the fields in adapter?

Really need your help

[2017-03-28 17:36] victorblq opened #186 "Not validate an annotated field with a condition"
Is possible to not validate a password field annotated with @Password?
For exemple: I have a fragment that I use as PatientForm, it has a password field (Patient password). When I open the fragment clicking in the "Add" Button I need this field required, but when I open the fragment clicking in the "Edit" button I need it as a non required field, is this possible? How can I achieve that objetive w

[2017-03-29 10:59] lopezzbelgium commented on #182
Why is this, any quick solution without writing a custom rule?

[2017-03-29 11:34] dieter115 commented on #182
Why is this? And is there a workaround

[2017-03-29 11:41] Cherubyx commented on #182
@lopezzbelgium @dieter115
I ended up completely removing this library from my project.

Just use Android's util pattern: https://developer.android.com/reference/android/util/Patterns.html#EMAIL_ADDRESS

This is valid for API 8 and above with Android Studio's suggestion here as an example:
[code]

[2017-04-01 06:48] ajaysaini-sgvu opened #187 "Attempt to invoke virtual method 'void com.mobsandgeeks.saripaar.ValidationContext.setViewRulesMap(java.util.Map)' on a null object reference"
I am using this library https://github.com/ragunathjawahar/android-saripaar to apply validations on my input fields like non empty, email etc.

I have two input fields and this is how I am applying validations. It is crashing my application. I checked validator variable is not null

MainActivity.java

	@NotEmpty
	private TextInputLayout client_id_input_layout;

	@NotEmpty
	private TextInputLayout

[2017-04-08 08:24] CLD1994 opened #188 "support rxjava"
suggest

[2017-04-12 10:33] Ahmed-Mostafa-Ghanayem opened #189 "validate non View variables like ArrayList, boolean and ....."
Is this feature (validating non View variables) can be available?!
ex.
[code]

[2017-04-20 18:59] johnyukon opened #190 "Showing only first error message even if multiple errors exist on view"
I would like to show a single error message even if multiple errors exist in a view. Currently it shows all error messages because of the use of `getCollatedErrorMessage`, which groups all errors in a single String.

So the idea is that I have this field:
[code]

And this code:

[code]

Then I would like check for the errors, and display only the first error `field_required` instead of `field_requ

[2017-04-20 19:18] johnyukon commented on #190
It seems I solved it by changing the method:

[code]

[2017-04-22 19:05] AlexCatch opened #191 "Digit Annotation is very confusing."
I can't seem to get the digits annotation to work, I can't figure out for the life of me what the integer parameter its wants is.

Entering numbers into the EditText causes validation to fail with 'Must be a digit'

This is my code.

[code]

[2017-04-24 17:34] lyfm opened #192 "Can I use your library in recycler view ?"
If I can use your library in recycler view - please explain me how to do that.

For example I have rec view with edit texts and spinners

[2017-04-25 03:17] ashraffouad commented on #184
Hi @OsmundWare

It is working for me using messageResId attribute, try as below:

[code]

[2017-04-28 13:44] saurabhgite opened #193 "I want to validate atleast one alphabates in EditText input"

[2017-05-03 20:46] mvssba commented on #186
Hi Victor, have you tried to validate with "validator.validate()";

[2017-05-04 09:11] ArthurAttout commented on #187
Has anyone found a solution for this ?

[2017-05-04 10:49] victorblq commented on #186
Hi mvssba, I think you don't understand, I need to NOT validate the field when the form is opened to edit a patient. It is validating at the save with `validator.validate()` but I want to not validate this field only even calling `validator.validate()` to validate other fields.

[2017-05-04 13:25] Kikju commented on #186
I think you can do that similar like I did here https://github.com/ragunathjawahar/android-saripaar/issues/104#issuecomment-133822417

[2017-05-07 10:57] Ahmed-Mostafa-Ghanayem opened #194 "incorrect behaviour with @NotEmpty annotation ?"
when null `String` is passed to `@NotEmpty`, `NotEmptyRule` returns true?

[2017-05-09 04:26] #190 closed

[2017-05-09 04:38] ragunathjawahar commented on #191
It is split into two parts `integer` and `fraction`. If you set `@Digits(integer = 2, fraction = 2)`. These are all valid - `1`, `1.1`, `1.12`, `23`, `23.2`, `23.25`

[2017-05-09 04:38] #191 closed

[2017-05-09 04:42] ragunathjawahar commented on #192
You have to use a validator instance per view holder. What is your use case? Closing this because this is a question.

[2017-05-09 04:42] #192 closed

[2017-05-09 04:45] ragunathjawahar commented on #184
@ashraffouad is right, use the `message` or `messageResId` attribute.

[2017-05-09 04:45] #184 closed

[2017-05-09 04:47] ragunathjawahar commented on #193
Use the `@Length` and `@Pattern` annotation.

[2017-05-09 04:47] #193 closed

[2017-05-09 04:51] ragunathjawahar commented on #187
`Validator` should accept the `instance` of the class within which the annotated view fields reside.

[2017-05-09 04:51] #187 closed

[2017-05-09 04:55] ragunathjawahar commented on #194
Please check line `440` in [TextUtils.java](https://android.googlesource.com/platform/frameworks/base/+/b2c4f0bf11f38fd31d80f1256c89b9db043a2929/core/java/android/text/TextUtils.java)

BTW, let me know how you managed to pass a `null` using `@NotEmpty`?

[2017-05-09 04:56] ragunathjawahar commented on #189
Hi @Ahmed-Mostafa-Ghanayem, sorry. This is beyond the scope of this project.

[2017-05-09 04:56] #189 closed

[2017-05-09 05:05] ragunathjawahar commented on #186
As @Kikju pointed out, you need two controllers to do this. One with the `@Password` field annotation and another without it.

[2017-05-09 05:05] #186 closed

[2017-05-09 05:06] #150 closed

[2017-05-09 05:09] ragunathjawahar commented on #176
@ericn37 this is not supported ATM.

[2017-05-09 05:09] #176 closed

[2017-05-09 05:12] ragunathjawahar commented on #128
This feature isn't in the library yet. There is a workaround though, inside the `onValidationFailed(List<ValidationError>)` callback, check if the validation failed on the password field and evaluate the criteria that caused the failure and then display an appropriate message.

[2017-05-09 06:19] ajaysaini-sgvu commented on #187
How to pass activity instance to `Validator` and what would be method to invoke in case of if I pass activity ?

[2017-05-09 08:57] rjoncontract commented on #187
@ajaysaini-sgvu Don't use DI, if you still want to do it. Use sub-components. But I would still stay away from them for this use case. The best way to do it would be to declare the `Validator` inside the class with Saripaar annotated fields.

[2017-05-09 09:40] ajaysaini-sgvu commented on #187
@ragunathjawahar I am using `Dagger2` using below approach -

	@Module
	public class Validator {
		@Provides
		com.mobsandgeeks.saripaar.Validator providesValidator(Application application) {
			return new com.mobsandgeeks.saripaar.Validator(application);
		}
	}

	@Singleton
	@Component(modules = {AppModule.class, NetModule.class, Validator.class})
	public interface NetComponent {
		void inject(Au

[2017-05-09 09:41] rjoncontract commented on #187
`Validator`'s constructor takes in the instance of the declaring class. Not the context.

[2017-05-12 12:17] ngugijames commented on #182
Thanks @ganesh2shiv

[2017-05-12 23:25] malhobayyeb commented on #191
What is the meaning of `integer` in this context?

Does it mean the length of integers?

[2017-05-14 18:21] ajaysaini-sgvu commented on #187
@rjoncontract  I have made changes in my dagger module and dagger component, nevertheless still facing same issue.

ValidationComponent .java

[code]
NetComponent.java

[code]

ValidatorModule.java
[code]
`onCreate` of my `activity`

[code]

Error Logs

	05-14 14:00:51.191 4647-4647/com.icici.iciciappathon E/AndroidRuntime: FATAL EXCEPTION: main
	Process: com.icici.iciciappathon, PID: 4647
	java.l

[2017-05-15 15:08] ragunathjawahar commented on #187
Looks like dagger isn't injecting dependencies. AFAIK, Dagger 2 doesn't handle base class injections (no straightforward way to accomplish it). Try changing your `@Subcomponent` to this,

[code]

[2017-05-15 15:09] ragunathjawahar commented on #191
@malhobayyeb yes it does.

[2017-05-15 17:31] ajaysaini-sgvu commented on #187
It worked!! Perfect! Thanks a lot!

How it is different `void inject(AuthenticationActivity activity);` and `void inject(Activity activity);` ?

[2017-05-24 11:26] E314c opened #195 "Cannot validate a date (day precision) is not in past."
Maybe I'm just being blind, but I don't think the below use case is possible with the current codebase.
It would be a very useful addition though.

### Use case
- I have a field set in date format `d M yyyy` (day precision only, no time fields)
- I wish to validate that the date is not in the past
  - must be either today OR in the future

### Problem
- When passing a date with no time, `SimpleDat

[2017-06-15 18:37] hasnain-ahmad opened #196 "Check `EditText` should not contains specific piece of text in it."
I have an `EditText`, i want to assure that it does not contain the text of "Please Select".
If the text presents in the `EditText` than `onValidationFailed` should be called a toast of error will be shown on `EditText`.
Which annotation of the library will be used for the above scenario?

[2017-06-27 10:13] Isabellle commented on #141
I can help with french translation as well

[2017-07-06 09:58] fabiomor commented on #187
just faced the same problem, i used DI with dagger2 as well, but in my case the problem was simply that i didn't set any of the checks annotaion on my views, as soon as i set the first one, everything worked fine.

[2017-07-07 13:42] grabcityinfo commented on #130
Hello @ragunathjawahar

I'm using 2.0.3 but don't see that method "validator.validateInvisibleViews(true)"

Which release has that feature?

[2017-07-07 15:41] grabcityinfo opened #197 "Latest version not available in Maven Central"
We would like to use new features from the latest version, Unfortunately maven has 2.0.3
Please push the latest version to Maven Central

[2017-08-01 02:57] mdumrauf commented on #155
I like @byronsliger approach. I am thinking about using reflection to access the binding object and retrieve all the `Field` that are `instanceof View` and then add the validators iterating the array.

[2017-08-03 15:16] KimGenius opened #198 "How do I use it in Kotlin?"
@NotEmpty
@Email
private EditText emailEditText;

@Password(min = 6, scheme = Password.Scheme.ALPHA_NUMERIC_MIXED_CASE_SYMBOLS)
private EditText passwordEditText;

@ConfirmPassword
private EditText confirmPasswordEditText;

@Checked(message = "You must agree to the terms.")
private CheckBox iAgreeCheckBox;

Kotlin gets the xml id and uses view, how do you handle this part?

[2017-08-07 12:20] nimrodgans commented on #136
Was this bug fixed? Just encountered it with version 2.0.0

[2017-08-14 06:52] mdumrauf commented on #155
@ragunathjawahar how about "annotating" the xml with custom pre-defined attributes? Pretty much like what [Calligraphy](https://github.com/chrisjenx/Calligraphy) or [Android-Iconics](https://github.com/mikepenz/Android-Iconics) do.

I imagine something like:

[code]

[2017-08-16 08:40] anderscheow opened #199 "Set error to TextInputLayout"
How do set the error message from TextInputEditText to TextInputLayout???

[2017-08-28 10:22] Alfishan commented on #199
Create TextInputLayoutAdapter

[code]
Define your validation

[code]

implement Validator.ValidationListener

`public class YourActivityOrFragment extends AppCompatActivity implements Validator.ValidationListener  {`

[2017-09-07 16:12] xf222zt commented on #197
i've come up with the same problme

[2017-09-08 23:16] softmarshmallow opened #200 "NEED : Value Validation"
[code]

so i can validate user setted photo. ect..

would be cool to have this feature.

[2017-09-11 13:16] Burtsev-Ivan opened #201 "check specific view"
Is it possible to check a specific EditText?
[code]

[2017-09-13 12:03] hrossi opened #202 "@Past - Wrong validation"
I'm using the @Past annotation like this:

@Past(dateFormat = "dd/MM/yyyy", messageResId = R.string.validation_invalid_birth_date)

When I input a invalid month/year, the lib accept that, for example:

Input: 35/35/1900
Result Date: Fri Dec 05 00:00:00 BRT 1902

[2017-09-14 17:40] luongvo commented on #117
That's good idea, I'll take the time to contribute this feature soon 🚀

[2017-09-18 08:56] gronel commented on #121
I can't used together with butterknife..

[2017-09-20 09:14] munnadroid opened #204 "Validation not working second time in kotlin"
Hi, I am using kotlin, saripaar and butterknife.
Suppose I have validation in submit button of FragmentA. When click in submit button its working fine. Then validation success,  app goes to FragmentB. Then again come back to FragmentA through back button. Then validation not working.

[2017-09-24 21:03] JavierSolis commented on #85
I added an additional if for fragment support, I hope it helps

https://github.com/JavierSolis/android-saripaar/blob/673b7ea7174848b96bce1ae82fa2118d1af9f128/saripaar/src/main/java/com/mobsandgeeks/saripaar/Validator.java#L175

[2017-09-30 18:22] rinav commented on #204
Same situation happening in my app as well.
In my case, the validation is happening inside a Dialog, built from [Material Dialog lib](https://github.com/afollestad/material-dialogs)
Any guidance to solve the issue?

[2017-10-02 03:26] cecyurbina commented on #204
I have the same problem, I am working with fragments using this library https://github.com/apl-devs/AppIntro, when come back to first fragment validation is always succeeded.

[2017-10-10 18:15] nateridderman commented on #115
Also email is supposed to only allow 64 chars for the local part  -https://en.wikipedia.org/wiki/Email_address#Syntax

[2017-10-11 08:41] munnadroid commented on #204
Not able to find the solution yet, I am planning to use https://github.com/inmite/android-validation-komensky library for validation.

Has anyone found the solution?

[2017-10-18 06:03] mshohrat opened #206 "Error with @Order annotation use"
hi,
I am using this library for validating and other benefits of its MaterialEditText. but on some devices i get an exception like below:
"Fatal Exception: java.lang.IllegalStateException: All fields are ordered, so this `com.rengwuxian.materialedittext.MaterialEditText` should be ordered too, declare the view as a field and add the `@Order` annotation."
I ordered all MaterialEditTexts in my app a

[2017-10-21 09:29] munnadroid commented on #204
I solved the issue. I have all the saripaar initialization in basefragment like below:

            validator = Validator(this)
            validator.setValidationListener(this)
        }

I removed the null check part and now its working fine.

validator.setValidationListener(this)

[2017-10-21 09:29] #204 closed

[2017-10-27 15:43] Gamabunta94 opened #207 "Localization not supported"
If anyone want to add a supported language, can't do that.
@ragunathjawahar if for you it's a good idea, I would like to make a PR to add this feature.

- Create strings.xml file copying your annotation default messages
- Change default messageResId from -1 to strings resource ID
- Create IT strings file to add Italian translations

[2017-10-30 15:04] adamdv91 commented on #206
Have you found a solution for this issue mshohrat?

[2017-10-30 15:07] mshohrat commented on #206
Unfortunately not yet.

[2017-10-31 09:37] adamdv91 commented on #206
I seemed to have fixed it by removing all ordering that was done in the Activity.

[2017-10-31 10:38] rjoncontract commented on #207
Yes, please. Go ahead that would be very helpful.

[2017-11-02 11:36] gabivitcord commented on #182
Good solution @ganesh2shiv. There is to have into account that there is to import that `Email.java` class intead of the old one. In fact I have renamed it to avoid confusions... 😄

[2017-11-03 06:55] RiccardoM opened #208 "Support for library projects using R2"
Hi, thanks for the good work you did with this library.

I'd like to propose a new feature that might be useful to all the people that wants to use this library inside a library project: adding the support of R2 inside your annotations, such as R2.string.

ButterKnife already supports this by using an android-plugin, and is able to resolve ids inside library projects. I think that resolving string

[2017-11-04 21:18] RobsonRocha opened #209 "Validate 2 fields if they are equal 0"
Hi!
I like very much your work.
I'd like to know if is there a possibility to validate two field with this rule:
    if (chipAmount == 0 and chargeValue == 0) throws ...
How can I do this kind of rule using saripaar?

Thank you!!!
Robson Rocha

[2017-11-07 15:12] agicquel commented on #208
I need it too !

[2017-11-29 02:39] DamonChen117 commented on #198
+1

[2017-12-13 06:52] wulijie commented on #201
yes

[2017-12-13 07:09] #201 closed

[2017-12-16 06:43] awidiyadew commented on #35
Thanks @rjoncontract you give me a clue..
in my case DefaultViewValidatedAction is not solving my problem because I set Error to `TextInputLayout`. So I make a custom `ViewValidatedAction` which is implement `Validator.ViewValidatedAction`.

Here is my gist [https://gist.github.com/awidiyadew/2e7723b8a7349ce4ec749f6dc9b693f9](url)
Thanks

[2017-12-29 11:02] abhinav011085 opened #210 "Spinner"
how to make it work with spinner i.e. selected position must be gt 0

[2018-01-10 10:44] Fatimamostafa commented on #167
It's so confusing when you write Latest version on doc. Why not providing the exact version number?

[2018-01-10 12:25] nikitajain2 commented on #57
in A Quick rule more time press button to check validation  before resolv e the error it show  error msg multipal time

[2018-01-10 12:27] nikitajain2 commented on #57
assign a quick rule  to a view user click on view to resolve error but click on view error are not remove

[2018-01-13 13:57] ashraffouad commented on #102
Any news about release 2.1.0?

[2018-01-13 15:57] davegrix commented on #200
Just use @notempty!

[2018-01-17 07:37] Shubh5332 opened #211 "Application Crashing"
com.mobsandgeeks.saripaar.exception.SaripaarViolationException: 'com.mobsandgeeks.saripaar.rule.NotEmptyRule' should have a single-argument constructor that accepts a 'com.mobsandgeeks.saripaar.annotation.NotEmpty' instance.

This is the issue

[2018-01-24 16:33] softmarshmallow opened #212 "Validate Without Annotaion for EditText inside CustomView"
Hi guys!!
i want to use saripaar for my custom view's EditText.
Scince its based on annotation, i sadly cant use this library in the general way..
how can i use Saripaar without annotation for my CustomView's EditText??

Activity
- CustomView1
- CustomView2
- CustomView3

CustomView 1, 2, 3 's EditText should be validated.

[2018-01-25 06:45] xrnd commented on #130
@ragunathjawahar when is the release planned for "validator.validateInvisibleViews(true)"? Facing similar issue.

[2018-02-14 18:33] Wounded-Shadow commented on #102
2.1.0 still not available?

[2018-02-16 10:25] AliTaylor1 opened #213 "Fatal Exception: java.lang.NullPointerException"
I'm really struggling to recreate this validation issue where some somehow the ValidatorContext losses context.
Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.mobsandgeeks.saripaar.ValidationContext.setViewRulesMap(java.util.Map)' on a null object reference
   at com.mobsandgeeks.saripaar.Validator.createRulesSafelyAndLazily(Validator.java:479)

[2018-02-16 14:41] dxpelou commented on #179
@anasanzari did you find a solution to this?

[2018-02-23 17:32] tapanrgohil commented on #198
any solution?

[2018-02-25 22:31] Alameen688 commented on #199
Worked for me.  Thanks

[2018-02-26 04:56] Dhaval2404 commented on #182
Many thanks @ganesh2shiv..!!! You saved my day.

[2018-03-08 12:45] ih-sugumaranv commented on #64
Can you explain how the view orders listed when validator failed?

[2018-03-09 11:16] abhishekBansal commented on #208
+1

[2018-03-15 02:13] KomoriWu commented on #54
厉害

[2018-03-15 09:35] srinnix1395 opened #214 "Only show one message error with each validation process"
I am using 3 validtion on one EditText. When the validation is completed, I use `getCollatedErrorMessage` function, but that function return 3 error (3 error appended). I want the function can get one error. And the order of validation will be handled in an order, eg: NotEmpty, Length, Email, if one condition failed, I want get the corresponding error. How can I do?

` @NotEmpty(messageResId = R.s

[2018-04-18 06:54] ParitoshVaidya commented on #155
@mdumrauf [convalida validation library](https://github.com/WellingtonCosta/convalida/wiki/Using-With-Data-Binding) is doing the same.

URL: [https://github.com/WellingtonCosta/convalida](https://github.com/WellingtonCosta/convalida)
Doc: [https://github.com/WellingtonCosta/convalida/wiki/Using-With-Data-Binding](https://github.com/WellingtonCosta/convalida/wiki/Using-With-Data-Binding)

[2018-05-02 06:56] Sumit-Chakole opened #215 "How to use with Kotlin?"
How to use with Kotlin?

[2018-05-02 07:06] ragunathjawahar commented on #215
Kotlin is not supported yet.

Sent from a mobile device

On Wed 2 May, 2018, 12:26 PM Sumit Chakole, <notifications@github.com>
wrote:

[2018-05-11 06:16] JavierSolis commented on #93
Thanks @LuisBurgos, I tried it and it worked, but it gave me an error in the release by the proguard, so, if you use proguard, keep the adapter

`
#Android Saripaar
-keep class com.mobsandgeeks.saripaar.**
-keep class com.mobsandgeeks.saripaar.** {*;}

-keep class <package of adapter>.** { *; }
`

[2018-05-16 12:57] DivyeshKalotra opened #216 "onValidation fails it's chrashing"
Caused by: android.view.InflateException: Binary XML file line #17: Error inflating class TextView
        at android.view.LayoutInflater.createViewFromTag(LayoutInflater.java:782)
        at android.view.LayoutInflater.createViewFromTag(LayoutInflater.java:704)
        at android.view.LayoutInflater.inflate(LayoutInflater.java:492)
        at android.view.LayoutInflater.inflate(LayoutInflater.jav

[2018-06-07 10:12] ztobs commented on #210
How do we use with spinner?

[2018-06-07 10:36] ztobs commented on #125
`@select` annotation didnt work for spinner

[2018-06-08 16:02] codenameDuchess commented on #198
Using [Butterknife]() I am able to compile:

        @NotEmpty
        @Email
        @BindView(R.id.emailTextField)
         lateinit var emailTextField: EditText

        @NotEmpty
        @BindView(R.id.passwordTextField)
        @Password(min = 8, scheme = Password.Scheme.ALPHA_NUMERIC_MIXED_CASE)
         lateinit var passwordTextField: EditText

But when I call validator.validate() I receive

[2018-06-08 23:13] ragunathjawahar commented on #198
Kotlin is not supported yet, would appreciate if someone sends a PR.

[2018-06-20 03:28] woqidaideshi commented on #212
have you solved it?

[2018-06-26 13:18] jeeteshsurana opened #217 "How To Use MVP(Model View presenter)"
How To Use MVP(Model View presenter)

[2018-06-29 10:30] fabiomor commented on #179
You can accomplish this by providing a custom adapter to saripaar:

Define a new class implementing saripaar viewdataadapter:

`public class AppCompatSpinnerValidatorAdapter implements ViewDataAdapter<AppCompatSpinner, String> {

    @Override
    public String getData(AppCompatSpinner view) throws ConversionException {
        return view.getSelectedItem() != null ? view.getSelectedItem().toStrin

[2018-07-02 10:15] fabiomor commented on #210
You can accomplish this by providing a custom adapter to saripaar:

Define a new class implementing saripaar viewDataAdapter:

`public class AppCompatSpinnerValidatorAdapter implements ViewDataAdapter<AppCompatSpinner,String> {
    @Override
    public String getData(AppCompatSpinner view) throws ConversionException {
        return view.getSelectedItem() != null ? view.getSelectedItem().toString(

[2018-07-02 10:58] #210 closed

[2018-07-13 14:00] Abhilashken opened #218 "Need Assistance Regarding Phone number validation for my project"
Sir,
I am a newbee and working on college project(android app) which has some form, in which there is a field for mobile number and I am finding it difficult or say impossible to validate it, I tried to understand your library but no help since far.
Kindly help me in layman terms about how to validate it. I will be thankful to you.

[2018-07-24 02:48] dmaia17 commented on #85
How i edit this class? @JavierSolis

[2018-07-24 10:47] JavierSolis commented on #85
You can download the source code and add as a module, then you can edit it.

[2018-07-26 03:15] traitaodoc1994 commented on #213
have you solved it?

[2018-07-28 08:44] yt8492 opened #219 "about Password Scheme"
Password Scheme ALPHA_NUMERIC_SYMBOLS and ALPHA_NUMERIC_MIXED_CASE_SYMBOLS can't recognize "_" as symbol. This is my suggestion in android-saripaar/saripaar/src/main/java/com/mobsandgeeks/saripaar/rule/PasswordRule.java
`
put(Password.Scheme.ALPHA_NUMERIC_SYMBOLS,
                    "(?=.*[a-zA-Z])(?=.*[\\d])(?=.*([^\\w]|_)).+");
put(Password.Scheme.ALPHA_NUMERIC_MIXED_CASE_SYMBOLS,

[2018-08-03 10:47] TikTak123 commented on #214
Hi, @srinnix1395
I have the same problem. Have you solved this problem?

[2018-08-14 07:29] thaw-frobom opened #221 "Min/Max value check"
How to check min fields is not greater than max fields?

[2018-09-04 07:43] xionger0520 commented on #213
@AliTaylor1 @traitaodoc1994 @ragunathjawahar can you tell me how to solve it? I had the same problem.

[2018-09-12 00:12] alihabbash opened #222 "Email rule is missing some constraints"
I have applied the email  annotation to a TextInputlayout after register a ViewDataAdapter but the email validator is accepting emails with scheme like `some@exa` (Without the .com .org ...etc).

[2018-10-10 09:54] snpmyn opened #223 "@Optional"
Why @Optional is not useful ?

[2018-10-11 16:28] yt8492 opened #224 "definitely fail CI"
I checked 3 failed past Pull requests, I found they are failed same reasones.
**"Error: Target id is not valid. Use 'android list targets' to get the target ids."**
I think you have to fix **.travis.yml** .

[2018-10-19 10:42] Savrov commented on #211
+1

[2018-10-19 13:09] Savrov opened #225 "SaripaarViolationException"
I have a code inside androidx.fragment.app.Fragment
[code]

After init validation
[code]

And on _validator.validate();_ I receive:

Pls help to fix

[2018-10-19 18:37] xparabolax opened #226 "When validating Digits, some locales will fail Regex"
Reproduced by setting locale of phone to Arabic and using the @Digits rule. Since Arabic has different numerals, Regex compilation fails.

[code]

[2018-10-20 03:59] ragunathjawahar commented on #224
@yt8492 thank you for investigating this. Would you be able to send a PR?

[2018-10-20 17:07] Asad-Khan-Aasanjobs commented on #225
@Savrov

I'm getting this error as well.

IMO It is most probably because of the[ instantiateRule() method in Reflector.java class](https://github.com/ragunathjawahar/android-saripaar/blob/master/saripaar/src/main/java/com/mobsandgeeks/saripaar/Reflector.java#L168), which throws this violation error when trying to create the validation rule with any available public constructors through reflection

[2018-10-22 09:59] Savrov commented on #225
@Asad-Khan-Aasanjobs I have created new project with AndroidX support (again) and it works. In old project its not still working.

[2018-10-31 13:06] ebghrimtech opened #228 "Provide support for the latest API level"
Hello,
We are currently using your library in one of our application. Actually we need a favour from your side. According to the Google Play Policy, all apps have to provide support for at least API level 26 which is not satisfied in your case. We are targeting API level 28. So can you please provide us support for API level 28 in your current repository?

[2018-11-27 14:37] #226 closed

[2018-12-21 12:09] saket commented on #132
`@delegate:NotEmpty` should do the trick.

[2019-01-03 04:43] llpdev opened #231 "在debug正常，然而在正式版本，就出现以下错误，请帮忙看看，谢谢"
Caused by: com.mobsandgeeks.saripaar.exception.SaripaarViolationException: 'com.mobsandgeeks.saripaar.annotation.a' requires the 'sequence' attribute.
	at com.mobsandgeeks.saripaar.f.a(Unknown Source)
	at com.mobsandgeeks.saripaar.f.a(Unknown Source)
	at com.mobsandgeeks.saripaar.f.a(Unknown Source)
	at com.mobsandgeeks.saripaar.f.a(Unknown Source)
	at com.mobsandgeeks.saripaar.Validator.<clinit>(

[2019-01-03 04:43] llpdev opened #232 "在debug正常，然而在正式版本，就出现以下错误，请帮忙看看，谢谢！"
Caused by: com.mobsandgeeks.saripaar.exception.SaripaarViolationException: 'com.mobsandgeeks.saripaar.annotation.a' requires the 'sequence' attribute.
	at com.mobsandgeeks.saripaar.f.a(Unknown Source)
	at com.mobsandgeeks.saripaar.f.a(Unknown Source)
	at com.mobsandgeeks.saripaar.f.a(Unknown Source)
	at com.mobsandgeeks.saripaar.f.a(Unknown Source)
	at com.mobsandgeeks.saripaar.Validator.<clinit>(

[2019-01-03 04:44] #231 closed

[2019-01-12 13:13] #232 closed

[2019-01-17 17:05] grabcityinfo commented on #212
I have EditText in Custom view too.

Did you solve it?

[2019-01-17 17:07] grabcityinfo commented on #212
I have same issue.

Got answer?

[2019-02-08 11:07] nstdio commented on #222
@alihabbash same is here. I'm using version `2.0.3`, also `@Email` does accept inputs like `test@.com`.

[2019-02-08 11:38] nstdio commented on #222
As a workaround we could use `@Pattern`

[code]

The email address pattern was take from [here.](https://android.googlesource.com/platform/frameworks/base/+/2ea21a84ef81849153f30bbea213acd5be110c08/core/java/android/util/Patterns.java#146)

[2019-02-10 13:46] blu94 commented on #221
i'm curios on this too

[2019-02-13 06:37] thawhtetkaung-private commented on #221
Since there is no answer about rule. I comment that how I bypass that situation. I create a quick rule to check and add that to validator.
Here is sample codes.
MinMaxQuickRule
[code]
Custom Validator Class
[code]

Use validator in Activity
[code]

[2019-02-13 06:39] thawhtetkaung-private commented on #221
Since there is no answer about rule. I comment that how I bypass that situation. I create a quick rule to check and add that to validator.
Here is sample codes.
MinMaxQuickRule
[code]
Custom Validator Class
[code]

Use validator in Activity
[code]

[2019-02-15 06:55] ojanh opened #234 "Can't validate empty textview after fetch contacts data"
hi,
i just validate some field textview and edit text. 2 textview validate using "@notempty" annotation and one field edit ext which is filled with phone number and validate it with "@length" annotation.

when i've done fetch phone number from contacts intent, i called validator.validate(). and it's success (called method OnValidationSucceeded()), which is 2 textview is empty, which is I use "@not

[2019-02-26 21:32] jimenaleom opened #235 "optional"

[2019-03-23 16:47] mnayef95 commented on #132
has any progress?

[2019-03-24 05:40] ragunathjawahar commented on #132
@mnayef95 PRs are welcome.

[2019-03-24 05:40] ragunathjawahar commented on #56
Closing due to inactivity.

[2019-03-24 05:40] #56 closed

[2019-03-24 05:41] ragunathjawahar commented on #61
Closing due to inactivity.

[2019-03-24 05:41] #61 closed

[2019-03-24 05:42] ragunathjawahar commented on #72
UI tests should be replaced with unit tests.

[2019-03-24 05:42] #72 closed

[2019-03-29 11:16] mnayef95 commented on #208
+1

[2019-03-30 16:56] mnayef95 opened #236 "Support multiple module project"
When i'm using android-saripaar in project with one module it's ok but if i'm using this library with multiple module project the problem is R,java is not final in library modules so i think you need to support R2 or create custom R class to use it with android-saripaar

[2019-05-16 12:15] xcesco commented on #142
I have the same problem and I found this thread only after I resolve my problem. My solution is on Proguard configuration too, but it's more generic, because I leave untouched ALL the class that implements `ViewDataAdapter`.

[code]

I hope it helps someone :)

[2019-05-27 08:16] hutaodediannao commented on #236
666

[2019-07-26 10:03] TanyaArora commented on #215
Have you added Kotlin support?

[2019-07-28 17:00] ragunathjawahar commented on #215
@TanyaArora I haven't, PRs are welcome :)

[2019-07-31 07:15] #198 closed

[2019-08-30 20:53] mnayef95 commented on #236
I have created an extensible annotation processing library that has these features
- Annotations based.
- Auto validation handling.
- Auto finds view by id.
- Support custom annotations.
- Support custom confirmation annotations, e.g. (Password and Confirm password).
- Support auto validation while typing.
- Support multi-module projects.
- Support Androidx.
- Support auto validation for custom vi

[2019-08-30 20:54] mnayef95 commented on #208
I have created an extensible annotation processing library that has these features
- Annotations based.
- Auto validation handling.
- Auto finds view by id.
- Support custom annotations.
- Support custom confirmation annotations, e.g. (Password and Confirm password).
- Support auto validation while typing.
- Support multi-module projects.
- Support Androidx.
- Support auto validation for custom vi

[2019-10-13 10:52] anburocky3 opened #237 "Is this project outdated? Can't find any documentation to implement?"

[2019-10-13 11:42] anburocky3 commented on #199
`error: lambda expressions are not supported in -source 1.7`
`(use -source 8 or higher to enable lambda expressions)`

[2019-11-06 10:36] PhanPirang commented on #142
You saved my life :D

[2019-11-19 13:19] tmxd09887 opened #238 "how to make custom error message layout?"
thanks for your work.

I want to modify the message layout,change color and size etc,but cant find where to do it.

[2019-12-11 10:11] mhakkim1990-github opened #239 "How to use android saripaar within fragment(androidx) for form validation?"
validator's mValidationContext resolves to null as fragment is instance of app.fragment in latest release. How to use androix.fragment.app.fragment

[2019-12-18 18:54] hiwa-jalal opened #240 "why the wiki doesn't work ?"

[2020-03-11 06:49] sawepeter opened #241 "##How can i add custom annotation to your library."
In my case, I would like to check if the first Edittext matches with the second Edittext. But for this case, I can't use the @ConfirmPassword annotation since this is not a password I want to check the pin.

[2020-04-14 04:18] kmIndonesia opened #242 "can I change error color appears on edittext ?"
can I change error color appears on edittext ?

[2020-05-03 15:56] Tridie2000 commented on #242
Can't you use the `errorTextColor` attribute of your EditText theme?

[2020-05-24 12:58] benchakalaka commented on #130
Hello, any update on this feature?

[2020-06-02 11:52] Puneet1796 commented on #213
Hey,
I found the solution around this. Compare your validator initialization with the bottom code snippet.
`Validator validator = new Validator(**this**);`
Always pass **this** as its controller reference. If you're trying to pass getContext()/requireContext() or getActivity()/requireActivity() then somehow It won't be able to figure out on which class you are try to associate your validator.

I h

[2020-07-14 11:05] myroniak commented on #214
I have a solution and it works for me fine.

First of all, you need to set a sequence. In my case first message to show it's @NotEmpty
[code]

After that, you need to overwrite the default method  getCollatedErrorMessage to:
[code]

The last step, its call this message:

 @Override
    public void onValidationFailed(List<ValidationError> errors) {
        for (ValidationError error : errors) {

[2020-08-31 10:10] #208 closed

[2020-11-04 09:19] roiskhoiron opened #244 "I have problem with email sentence like "firstname.lastname@mail.com", in there i cant validation sentence like "firstname.lastname" because [.] dotted center."

[2021-05-14 18:38] Puneet1796 commented on #242
@kmIndonesia Close this issue, if resolved.

[2022-08-02 05:54] mujahid-dzinemedia commented on #34
@ragunathjawahar any example? to write our own?